[2019-01-18 07:10] bassie1995 opened #1 "No tests showing up"
Hi, great work on this template! I've been trying it out for the last day, but have noticed no tests showing up.

The counter is always at 0 tests and 0% pass percentage.
I'm using the default template, and the ```htmlfull``` reporter shows the tests.

What direction should I be looking in to fix this? I haven't found anything so far.

[2019-01-18 07:59] DannyDainton commented on #1
Hey,

Which version of Newman version of the `htmlextra` reporter are you using?

Do you have an example collection that will help reproduce the problem so that I can have a look what's going on?

It's tricky to know what the problem might be without any additional information. 😁

[2019-01-18 08:11] bassie1995 commented on #1
Didn't quite know what to include, but here goes:

Running Newman 4.2.2, apparently, but it doesn't want to update. Figured I had the newest still (not too long since I've been working on this, I thought).

I'll try to get it fixed and update :)

[2019-01-18 08:15] bassie1995 commented on #1
Alright, well, it's working now. Read about the requirement but didn't check which version I had. My bad and thanks for the help!

[2019-01-18 08:15] #1 closed

[2019-01-18 08:19] DannyDainton commented on #1
My bad for not including a issue template 😔

Version 4.2.3 of Newman has a specific change in there which exposes the `Skipped Tests` - Something that is not currently exposed by the other HTML reporters.

This change allowed me to change the logic in the reporter to determine if the test was skipped based of a certain flag, my guess is that with the lower version of Newman installed, all the test

[2019-02-10 08:01] RuggeriLuca opened #2 "Group by iteration an all tabs"
Hello,
as you did for the Requested tab it will be nice to have the iteration grouping in all tabs

[2019-02-10 08:03] RuggeriLuca opened #3 "Iteration colour"
It will be nice if the box that contain the iteration number will be colored :
Greed if is all passed
Red if there is Failed Tests

[2019-02-10 08:11] RuggeriLuca opened #4 "Collapse Folder Group and Request"
it will be nice if in Request tab the
Folders headers and the Requests header will be collapse

[2019-02-10 09:54] DannyDainton commented on #4
I might look into this but I can't give any promises to changing the default reporter.

There is an 'alternative' template in the repo that has something similar to what you want but the style of the report is completely different.

These are just templates and can be changed on your side by creating a new one that works for you and allows you to change the areas that you.

You can then use the `-

[2019-02-10 09:58] DannyDainton commented on #3
This is something that I can't easily change without a hacky fix on the template.

A change is needed in Newman to show that an iteration has failed, it doesn't currently do this and the value will always just show the total number of iterations.

This has been raised as a issue in the Newman project so once that's been fixed, I can added functionality to the default template.

[2019-02-10 09:58] #3 closed

[2019-02-10 10:01] DannyDainton commented on #2
I agree with this as an additional feature.

However, I can only really work with the Data coming back from Newman, the different pieces of data that would allow me to easily do this are just not in the summary object.

I'm going to close this for now.

[2019-02-10 10:01] #2 closed

[2019-02-11 09:30] flashcsgroups opened #5 "CLI"
Good day. I'm new. Tell us how you can use the code CLI ?
const newman = require('newman'); // require newman in your project

// call newman.run to pass `options` object and wait for callback
newman.run({
    collection: require('./sample-collection.json'),
    reporters: 'cli'
}, function (err) {
	if (err) { throw err; }
    console.log('collection run complete!');
});

Perhaps this code should

[2019-02-11 16:44] DannyDainton commented on #5
I'm not sure what you are asking?

Is this just to know how to use the CLI reporter of Newman, from within a node script?

https://github.com/postmanlabs/newman

That's its own project, this is an additional reporter that you can use with Newman.

[2019-02-12 08:02] #5 closed

[2019-02-12 11:07] DannyDainton commented on #4
@RuggeriLuca I've updated the default template on version 1.40.1 to include the collapsible requests.

The images of what these look like can be found in the README file.

[2019-02-12 15:03] RuggeriLuca commented on #4
Hi , Thank you .
i have replace the report into the folder
and now i take the below error :
`
C:\TEMP>newman run  https://www.getpostman.com/collections/9a018b27426520fb7f72 --folder "Draw Operations V3.0" -e "UAT-L10-DrawOperation.postman_environment.json" -g "MyWorkspace.postman_globals.json" -k -r htmlextra --reporter-html-export c:\temp\myreport3.html
newman: Newman v4 deprecates support for t

[2019-02-12 15:17] RuggeriLuca commented on #4
Nice Thank you

I will try to make also the folder collapsible

[2019-02-13 11:01] RuggeriLuca commented on #4
I will made teh Folder Collapsible are you intrested ?

[2019-02-13 22:54] Sandhya-Podili opened #6 "newman not identifying htmlextra reporter"
Hi, firstly thanks for wonderful reporter :) .
i am trying to use reporter from TeamCity and getting below error while running tests and i did checked that pnewman-reporter-htmlextra package is installed globally.

**newman warning: "htmlextra" reporter could not be loaded.**

Any idea on this ?

thanks

[2019-02-13 23:06] Sandhya-Podili commented on #6
Please ignore this! node version on teamcity agent is 6.2! thats why it is not working.

[2019-02-13 23:06] #6 closed

[2019-02-17 08:53] DannyDainton commented on #4
It's already included in the latest version.

[2019-02-17 13:35] DannyDainton commented on #4
@RuggeriLuca This has be updated in the default and dark theme dashboard views - The new version is published and is part of version 1.50.1.

[2019-02-17 13:35] #4 closed

[2019-02-17 14:29] DannyDainton commented on #3
I've been thinking about this a little bit more - I'm going to change the `Total Iteration` panel colour based on the Test Failures. Is still don't have a way to know how many iterations failed but this is a good first step.

Some examples:

![iterations_passed](https://user-images.githubusercontent.com/17089546/52914454-50125880-32c0-11e9-8ea9-a0d9b918e959.png)

![iteration_failed](https://user-i

[2019-02-25 07:46] RuggeriLuca opened #7 "newman-reporter-htmlextra\node_modules\highlight.js\tools\build.js"
**Describe the bug**
Installing the new version of the report i take the error

npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated minimatch@0.3.0: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated minimatch@1.0.0: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS i

[2019-02-25 07:57] DannyDainton commented on #7
Are you able to fully uninstall `npm uninstall -g newman-reporter-htmlextra` from your machine and then reinstall please.

Sending a very specific error, from your machine, doesn't really give me a lot of information to work with, if I'm being honest.

Please follow the Issue template to capture more relevant and usable details.

[2019-02-25 08:26] RuggeriLuca commented on #7
i have update the issues based on template . How i can load log files?

[2019-02-25 08:29] DannyDainton commented on #7
That should be enough for me to have a look now - The collection files are not needed for this type of issue, I will take a look and get back to you once I have a fix in place.

Thank you for raising this issue.

[2019-02-25 10:12] DannyDainton commented on #7
There was an issue with the `highlight.js` project that was causing an install failure in the package - I haven't been about the solve the issue yet but I wanted to add this here for context.

https://github.com/highlightjs/highlight.js/commit/58b0dd0cf033ffb6506734c8abfb7e059a8c6fe8

[2019-02-25 17:16] DannyDainton commented on #7
Update - This is still an issue and is being looked at by the `highlight.js` team, this is a hobby project like this one so it really can't take any amount of time to fix. We just need to be patient.

[2019-02-25 17:43] greenkeeper[bot] opened #8 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-02-26 05:53] DannyDainton commented on #7
@RuggeriLuca This has now been resolved and you should be able to install the package from NPM.

[2019-02-26 05:53] #7 closed

[2019-02-26 05:55] #8 closed

[2019-02-26 07:08] RuggeriLuca opened #10 "Parameter to change few data to log"
To be able to reduce size of the report is it possible to add a parameter that will log the
REQUEST BODY
RESPONSE HEADERS
RESPONSE BODY
only for the fails Requests ?

[2019-02-26 09:26] DannyDainton commented on #10
You can achieve anything you like by creating a new template and restricting the data that is displayed in the report.

The default templates used are in the `templates` dir so those could be used and edited.

All of those things could be removed from the current template too.

[2019-02-27 08:58] Subhashini-1 opened #11 "While giving customized title , not able to change the size of title in index.js ,though we change it to the lowest size with h6 ,still my title size change is not reflecting ."
While giving customized title , not able to change the size of title in index.js ,though we change it to the lowest size with h6 ,still my title size change is not reflecting .

![image](https://user-images.githubusercontent.com/44973580/53478009-e6eacc00-3a9b-11e9-93d4-73c929239e1b.png)
![image](https://user-images.githubusercontent.com/44973580/53478033-f0743400-3a9b-11e9-82ac-5dddf3d979c0.png)

[2019-02-27 10:35] DannyDainton commented on #11
Hey @Subhashini-1

Thank you for using the reporter - This seems like an issue with the custom template that you have created, rather than a specific issue with the reporter.

I can advise what you could do in your report but this isn't something that I need to change in the reporter. I can look at changing the sizing in the default template, to allow for longer titles but you can do this in your

[2019-02-27 14:10] DannyDainton commented on #11
Closing this issue, happy to reopen if you feel it doesn't answer the queston.

[2019-02-27 14:10] #11 closed

[2019-02-27 15:22] DannyDainton commented on #10
I've created a task to try and add this feature - Going to close the issue for now.

[2019-02-27 15:22] #10 closed

[2019-02-27 15:58] Subhashini-1 commented on #11
Thanks Danny for the inputs .I have modified it and its working as needed !

[2019-02-27 16:01] Subhashini-1 opened #12 "Email sending"
Hi @DannyDainton

This is not an issue .Need your inputs if you can help me with email triggering of report generated with newman integration .Is there any plugin or helpers which would serve this need.

[2019-02-27 17:08] DannyDainton commented on #12
I would look into creating a node script and incorporate this functionality there. There will plenty of modules that could give you some help with this.

I'm closing this as it's not an issue with the reporter.

[2019-02-27 17:08] #12 closed

[2019-02-28 13:20] lucas937 opened #13 "Report not generating right output"
If a testcase is in a loop and running 10 times. 4/10 test case fail then all 10 test are shown as failed. Why is this? In postman the correct output is shown, eg. 4 failed test cases and 6 passed.

Postman V. 6.7.4

[2019-02-28 15:20] DannyDainton commented on #13
Without more details/examples/images/videos/anything about what you're doing and seeing - It's impossible to get you an answer.

Please use the Issue Template provided to add more context and information to the problem.

[2019-02-28 18:39] tonycantony0007 opened #14 "Final report name."
Hi Danny,
               This is not an issue .Needs your input so that by default the html report name should be the collection name followed by the date.If we are running a group of collection at same time,if this functionality is there it will be helpful to identify the specific collection report.(Without using exporter option while running.)

[2019-02-28 19:33] DannyDainton commented on #14
Hey,

You could create a template or use the existing one and then change the `{{title}}` reference to be `{{collection.name}}` - depending on the length of this name, you might want to also change the `class="display-*"` number to reduce the size of the main title.

Is that what you had in mind?

[2019-03-01 01:04] julianli0220 opened #15 "Ability to show progress/error on console"
Hi Danny, thanks for the reporter. I would like to see if its possible to have progress/error shown on the console so that I know its running. Currently I'm using the following in my *.js:
[code]
Wondering what 'err' is referring to, as I only see the errors in the report html but not on the console (while using the cli reporter, I could see the errors on console).
Thank you very much!

[2019-03-01 04:40] tonycantony0007 commented on #14
Thanks Danny.. This is not i meant.when  we get a report after testing the file name will be in the format newman-run-report-htmlextra-2019-02-21-07--01-57-094-0  i want this report file name to be in the format "collection name -date".

[2019-03-01 07:30] lucas937 commented on #13
Hi,
I understand, my bad.

Here is the code im running to verify a substring of a filename. It loops through the response as there are multiple files attached. ( I can not show the response body due to company policy)
In the below images we can see that all testcases passed in postman but they failed in the reporter. Why i think the reporter is wrong is because i used another reporter before and t

[2019-03-01 08:13] DannyDainton commented on #14
Ah ok - I understand what you mean now. An example of what you meant would have saved the confusion but it's all good now. :)

I've made a change to the reporter and published a new version that should hopefully give you what you need. As the collection name forms part of the default file name now, you will need to ensure the it's a valid filename path.

I'll leave this issue open until you have u

[2019-03-01 08:23] DannyDainton commented on #15
Hey,

You're welcome, thank you for using the reporter.

So that's part of the `Newman` run script and not part of the reporter so that's the reason you're not seeing the same thing within the report. It basically creates the report after that has run, from all the data within the `summary` object.

The `err` in that context, is to do with the running of that `newman.run` script, so say if the col

[2019-03-01 08:30] DannyDainton commented on #13
What does the Failed Test tab show?

This prints out the assertion error for those test. It will be helpful to know that reasons for the fails.

[2019-03-01 08:55] lucas937 commented on #13
Sure, here is the fail tab of the reporter.
![failtab](https://user-images.githubusercontent.com/48093059/53627225-33531a80-3c08-11e9-8285-05ea14bfda07.PNG)

[2019-03-01 09:03] DannyDainton commented on #13
That looks like it's failing because it's trying to deeply equal a `string` to an `integer` - That's nothing to do with the reporter, that's the test within the collection that's failing. The reporter is just telling you what Newman is telling it.

Have you ran the test independently? If it's failing there it will be failing within the reporter. Have you tried running the collection with just the

[2019-03-01 09:08] lucas937 commented on #13
Yes i have tried testing it independently, and then it workes fine. Only the failed cases is shown.

I tried this with the default reporter and that seemed to work fine. But ill try to make some changes in the code as well.

[2019-03-01 09:14] DannyDainton commented on #13
By default reporter, do you mean the CLI output or the other HTML reporter? Which version of Newman do you have?

I don't really know what to suggest to be honest, the reporter literally just outputs what Newman is telling it based on the collection file that it's given. It should be failing in the same way if you run it without `htmlextra`.

It the most basic form, this will run it and output the

[2019-03-01 09:17] lucas937 commented on #13
Booth the CLI and the HTML. Newman version 4.3.1

But ill try with some code changes and try again.

[2019-03-01 09:21] DannyDainton commented on #13
Sorry for not being able to provide a solution, I'm not ruling out an issue in the reporter but it's its outputting that there were test failures, it points more at the collection file and what's within that.

I'm going to close this for now but happy to reopen it if you can get me some more info to repo it on my side so I can look at it closer.

[2019-03-01 09:21] #13 closed

[2019-03-01 13:15] lucas937 commented on #13
Hello Danny,

I did some changes in the code and now it seems to work.

the problem was that i had .eql which should be .contains instead. Sorry for the "non-bug"  thanks for the input. Sometimes you need anothe point of view.
pm.expect(file.FileName.substring(0,7)).eql(drawingno);

[2019-03-01 14:04] DannyDainton commented on #13
Awesome! Glad it works now.

Always happy to help and it's always good to talk through a problem with someone else.

Thank you for using the reporter, if you do come across any other issues, please do raise them.

[2019-03-01 17:26] DannyDainton commented on #15
Closing this issue as it's not really something that I can change in the `htmlextra` reporter.

[2019-03-01 17:26] #15 closed

[2019-03-04 07:43] lucas937 opened #16 "Question about the reporter"
Hi Danny,
This is not an issue. But i was wondering if its possible to add colors on the Total Request Page. For example i have about 1800 request and i want to see directly if any test cases failed in any request.

See my example( sorry for the bad coloring hehe).
![capture](https://user-images.githubusercontent.com/48093059/53717779-81ab2800-3e59-11e9-9a3e-7e2ad0b111da.PNG)

[2019-03-04 08:45] DannyDainton commented on #16
First of all - I apologise for it looking like that when you have multiple iteration. I really need to look at pagination to make that look and feel a lot better - I was aware that it was going to do that after a certain number (21?). :(

As per your request, it's a custom template giving you the power to do that on your side - You can change anything you like on it. :)

If you want to add that in

[2019-03-04 09:41] lucas937 commented on #16
No worries, thats okey by me.

Okey, ill give it a try. Im not that familiar with HTML code, but ill try to figure it out.

Yeah, i saw the Failed Tests tab, but it so many request iterations and its a bit hard to jumping around. Like I mention i have around 1800 request x 2 basically, which generates  ruffly 65.000 asserts.

But thanks for the help! You can close this issue if you want.

[2019-03-04 09:47] DannyDainton commented on #16
I'm just about the added an option to show only the requests with failed tests, this won't solve/help with the issue but at least the iteration tabs will show only the failures, when you click them. :) This is a trial so it's only for the `light` version of the dashboard.

I have lots of things I want to try and add but I'm only able to do these things if I have enough time. :(

[2019-03-04 09:47] #16 closed

[2019-03-04 09:48] DannyDainton commented on #14
Going to close this Issue - Can reopen if this doesn't help with the problem you are facing.

[2019-03-04 09:48] #14 closed

[2019-03-04 09:50] lucas937 commented on #16
Okey perfect! That will help its fine with the light version.

[2019-03-04 10:17] DannyDainton commented on #16
@lucas937 That's been added to the 1.6.0 version. Use the `showOnlyFails` option to use this feature. Any issues with it, give me a shout.

[2019-03-04 10:19] DannyDainton commented on #10
@RuggeriLuca I've added a `showOnlyFails` option to the reporter - This is a first attempt at it so it will work with the default `light` template at the moment.

[2019-03-04 11:30] lucas937 commented on #16
Thanks man! will do!

[2019-03-04 19:20] DannyDainton opened #17 "Paging for the Iteration tabs"
I really want to add some pagination to the reporters iteration tabs.

As you can see it gets quite nasty when the Iteration Count goes over 21-ish...

![iterations](https://user-images.githubusercontent.com/17089546/53756844-1c375580-3eb2-11e9-8997-43583b5bea27.png)

If anyone can lend a hand or give me some pointers, It would be extremely helpful!!

[2019-03-06 16:00] DannyDainton commented on #16
@lucas937 This is now on the dark version too - Just use the `showOnlyFails` and `darkTheme` together.

[2019-03-06 16:03] DannyDainton commented on #14
@tonycantony0007 Was this what you had in mind?

[2019-03-13 13:27] kthulsidoss opened #18 "pagination :help on feature"
Would you have an image of the test paging feature ? how to use them in the tests  -r htmlextra --reporter-htmlextra-export "$htmlfiledir\SIA_MFD_IntegrationTest_Report1.html"

Will this work

-r --reporter-htmlextra-testPaging`  "$htmlfiledir\SIA_MFD_IntegrationTest_Report1.html" meaning using paging and exporting the html file

[2019-03-13 13:35] DannyDainton commented on #18
The command is the same as if you used the `darkTheme` or any other flag.

For example:

`newman run https://www.getpostman.com/collections/631643-f695cab7-6878-eb55-7943-ad88e1ccfd65-JsLv -r htmlextra --reporter-htmlextra-testPaging --reporter-htmlextra-export ./someExportFile.html`

[2019-03-13 16:41] ju-Skinner opened #19 "--reporter-htmlextra-filename"
I would like to propose a new option that would allow an user to specify what filename should be saved to disk.

**Use Case**
I am using the `newman-cli` from within a Ruby application. In my case, I have to write the both the Postman Collection and Environment variables to disk. I have used a specific file naming convention similar to what you have used for the output of the html. However, at the

[2019-03-13 16:53] #19 closed

[2019-03-13 17:31] DannyDainton commented on #18
Closing this as it's not an issue with the reporter - more of an misunderstanding of the Newman commands.

[2019-03-13 17:32] #18 closed

[2019-03-14 20:10] meekkaal opened #20 "DataTables warning displayed when viewing reports"
**Describe the bug**

When viewing a report, a DataTables warning is displayed for each 'table id'

**Steps to reproduce**

1. Execute Collection with htmlextra as the reporter
2. View the generated report in a web browser
* Notice consecutive warnings are displayed:

**Screenshots**

![image](https://user-images.githubusercontent.com/23304838/54387711-74204a00-4672-11e9-820e-cf738d220709.png)

**

[2019-03-14 20:17] DannyDainton commented on #20
Thank you for submitting this, I will take a look and get back to you with some further information.

[2019-03-14 20:18] meekkaal commented on #20
I'm going to dig a bit further into it when I get a chance as well.

Thanks for making this great reporter!

[2019-03-14 21:57] DannyDainton commented on #20
You're welcome.

I had a similar problem locally I think and I didn't commit a potential fix. 😔

I'm away from my laptop at the moment but I can get a new version out tomorrow that will hopefully stop this issue.

It's basically adding in another property to the Datatables object in the .hbs file.

Check out the `retrieve` option for. More details.

https://datatables.net/manual/tech-notes/3

Will

[2019-03-15 19:51] DannyDainton commented on #20
@meekkaal I've published a new version, would you be able to update and check to see if it's still doing the same thing please.

The tests that I ran locally, after reproducing the problem, are looking good but it would be great to have your feedback :)

[2019-03-16 14:15] kthulsidoss opened #21 "Feature Request :Allow searching within the tests"
Feature Request : Allow searching within the tests .

[2019-03-16 15:11] DannyDainton commented on #21
This can be done on your side by creating a custom template.

[2019-03-16 15:11] #21 closed

[2019-03-16 16:14] DannyDainton commented on #19
Didn't see that you opened this...is this something that you need?

[2019-03-16 16:20] ju-Skinner commented on #19
Thanks for responding.  After digging in deeper and looking at the code, I
noticed that while specifying the path,  I could also include a file name.
So there was no longer a need for this option to be introduced.

On Sat, Mar 16, 2019 at 11:14 AM Danny Dainton <notifications@github.com>
wrote:

--
Julian Skinner | Mobile: 951.591.2575 | E-Mail: Ju.Skinner@gmail.com

[2019-03-16 16:37] DannyDainton commented on #19
OK cool - Just checking. 😁

If there is anything else that you feel that would be good to add. Please do open up another issue and I can take a look.

[2019-03-18 06:07] kthulsidoss commented on #21
I was looking for searching the tests at a folder level or the entire group of tests with a test ID.

[2019-03-18 13:27] meekkaal commented on #20
I updated and tested this on two machines and the issue seems to be resolved. Thanks for the quick turnaround and all your work on this!

[2019-03-18 13:33] DannyDainton commented on #20
Cool - That's good news. It was something that I was aware of and had a `fix` locally but didn't actually commit this change. :(

Thank you so much for bringing it to my attention. My bad for putting it in there in the first place :(

Appreciate you raising the issue and thank you for using the reporter!! ❤️

[2019-03-18 13:33] #20 closed

[2019-03-21 00:04] wonboyn opened #23 "Helper {{requests.total}} including parent folder in count"
Hi there,

Firstly - great reporter. It's really useful.

I just noticed that the count returned by {{requests.total}} is including the parent folder.
I have the following Postman collection setup:
* Folder A > Folder B > 10 requests

For the above, {{requests.total}} is showing 11.

Cheers.

Tim

[2019-03-21 00:26] wonboyn opened #24 "Question about approach"
Hi there,
 Apologies in advance, as this is more of a generic Postman/Newman question rather than regarding your reporter...

I have a requirement to distinguish three different outcomes for a request:
- success => all tests have been successful
- warning => all tests have been successful **AND** a specific value has been returned (eg header ABC is provided in the response)
- fail => a test fails

[2019-03-21 03:01] wonboyn commented on #23
Please ignore this - I just realised:
1) this is coming from Newman itself
2) the count includes a request I've triggered from a pre-request script.

[2019-03-21 03:01] #23 closed

[2019-03-21 07:35] DannyDainton commented on #24
Hey @wonboyn

Thanks for reaching out - I'm not entirely sure what you're after though. That requirement can be met but it all depends how you would like to present that data.

All 3 of those things can be exposed in a number of different ways, I'm going to need more information to help you further though.

If you want to send me this information via email to dannydainton@gmail.com, that would be

[2019-03-21 07:35] #24 closed

[2019-03-21 15:11] DannyDainton commented on #17
Moving this to the `Feature Requests` project

[2019-03-21 15:11] #17 closed

[2019-03-28 01:55] wonboyn opened #25 "Using handlebars-helpers function in template"
Hi,

Newbie question. I want to use the math minus function provided by handlebars-helpers but am struggling to understand how to do so.

I tried {{#minus stats.items.total stats.items.failed}} but this results in an exception that "minus doesn't match..."

Could you please explain what I need to do to use the functions provide by handlebars-helpers?

Thanks

Tim

[2019-03-28 05:21] DannyDainton commented on #25
Hey,

Handlebars is tricky to get used to so I know where you're coming from Tim.

So because it's a `block` helper, you need to close it out again. You can do this by using `{{/minus}}` at the end of the `{{#minus stats.items.total stats.items.failed}}`

Hope that makes sense.

[2019-03-29 13:27] DannyDainton commented on #25
Closing this out as its not really an issue with the reporter.

[2019-03-29 13:27] #25 closed

[2019-03-30 18:48] greenkeeper[bot] opened #26 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `5.15.3` to `5.16.0`.

🚨 [View failing branch](https://github.com/DannyDainton/newman-reporter-htmlextra/compare/master...DannyDainton:greenkeeper%2Feslint-5.16.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of t

[2019-03-31 14:17] #26 closed

[2019-04-01 10:50] greenkeeper[bot] opened #27 "An in-range update of eslint-plugin-jsdoc is breaking the build 🚨"
## The devDependency [eslint-plugin-jsdoc](https://github.com/gajus/eslint-plugin-jsdoc) was updated from `4.6.0` to `4.7.0`.

🚨 [View failing branch](https://github.com/DannyDainton/newman-reporter-htmlextra/compare/master...DannyDainton:greenkeeper%2Feslint-plugin-jsdoc-4.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed

[2019-04-01 16:36] #27 closed

[2019-04-04 23:20] wonboyn opened #30 "Count of failed requests"
Hi Danny,

I'm trying to get a count of failed requests as opposed for failed assertions.

When I run newman with the JSON reporter it shows:

...
  "run": {
    "stats": {
      "iterations": {
        "total": 1,
        "pending": 0,
        "failed": 0
      },
      "items": {
        "total": 66,
        "pending": 0,
        "failed": 0
      },
 ...
      "assertions": {
        "total": 1

[2019-04-05 06:51] hgupta-cs opened #31 "htmlextra reporter does not work in docker"
Error- `newman: "htmlExtra" reporter could not be loaded.
  please install reporter using npm`

Dockerfile-
FROM node:11.13.0-alpine
RUN npm install -g newman
RUN npm install -g newman-reporter-htmlextra
ADD . /app
WORKDIR /app
RUN chmod +x run.sh
CMD ["./run.sh"]

run.sh

/usr/local/bin/newman run https://api.getpostman.com/collections/$collection_uid?apikey=$apiKey \
  --environment https://api.

[2019-04-05 06:56] DannyDainton commented on #31
You've added the reporter using the wrong name `htmlExtra` - Have you tried `htmlextra`?

[2019-04-05 06:58] DannyDainton commented on #30
If you wanted to submit a PR, I can take a look?

[2019-04-05 07:05] hgupta-cs commented on #31
yes I have tried with `htmlextra` also

[2019-04-05 07:09] DannyDainton commented on #31
It's an npm package, so if any other package from there works - There is no reason, that I can think of, why it wouldn't work.

Have you tried it with any other reporter?

[2019-04-05 09:36] wonboyn commented on #31
Howdy,

I'm running it in Docker without issue using the newman image which is alpine based:

FROM postman/newman:alpine

RUN apk update
RUN apk add bash
RUN apk add coreutils
RUN apk add jq
RUN apk add tzdata

RUN npm install --silent -g newman-reporter-htmlextra

Cheers

Tim

[2019-04-05 09:37] wonboyn commented on #30
Hi Danny,

I would have expected that a failed assertion means that the associated request/item is also failed.
Is that not the case?

Tim

[2019-04-05 10:08] DannyDainton commented on #30
So a request can have no tests/assertions and still `fail` so a number of reasons.

[2019-04-05 10:13] wonboyn commented on #30
Ok. But a failed assertion does not mean a failed request/item?

[2019-04-05 10:17] DannyDainton commented on #30
Nope, the request could return a `200` and be all good.

You could have a test in that Request, which checks for a `201`, that would `fail` the test but the request would still be good.

[2019-04-06 00:14] DannyDainton commented on #31
I suspect this is more of an environment issue that a reporter issue.

Closing this for now, can open it again if you feel its not this.

[2019-04-06 00:14] #31 closed

[2019-04-06 06:59] DannyDainton commented on #30
@wonboyn not really sure where you like to go with this?

It's not an issue with the reporter so I'm going to close this issue. If you would like me to reopen it based on more information or if you wanted to create a PR for a new feature/change in behaviour, that's cool with me.

[2019-04-06 06:59] #30 closed

[2019-04-08 06:40] wonboyn opened #32 "Add extra helper for setting variables"
Hey Danny,

It would be helpful to be able to save values during template process for later use in the template.

Can you add an extra helper something like the following:

[code]

Thanks

Tim

[2019-04-08 06:48] DannyDainton commented on #32
Hi @wonboyn

Would you be able to elaborate more or provide an example of what you hope this would look like in the template?

Do you have this helper running locally?

Danny

[2019-04-08 07:30] wonboyn commented on #32
Hey Danny,

Yes.

I need to provide a count of requests that have failed assertions (as opposed to failures.length).

Rather than modifying your existing aggregator functionality, I thought it would be easier to modify the template to iterate through the executions array & increment a variable if cumulativeTests.failed is true.

To do this I needed to be able to set/change a variable.

I had a loo

[2019-04-08 07:41] DannyDainton commented on #32
If you want to send me a PR, I can take a look. :)

[2019-04-14 21:32] DannyDainton commented on #32
I'm going to close this issue for now, I'm personally not planning to add any changes like this but I'm happy to have a look at a PR and consider merging something in to the reporter.

[2019-04-14 21:32] #32 closed

[2019-04-16 08:13] lucas937 opened #36 "Htmlextra-darktheme not showing red or green on total requests."
Hello Danny,

the htmlextra-darktheme is not showing green or red on the total requests page. If i remember correctly it did some time ago. Also if i remeber correctly you implemented pagination, i have onver 5000 iterations and sometimes its a bit hard to keep track of where i have clicked.

Thanks!

Ill attach a printscreen.

![image](https://user-images.githubusercontent.com/48093059/56193126-3

[2019-04-16 08:56] lucas937 commented on #36
Update,

The htmlextra reporter does not show this either. (the "default" reporter")
![image](https://user-images.githubusercontent.com/48093059/56196019-5578ee80-6036-11e9-8b45-02a3eee5e59f.png)

[2019-04-16 13:00] lucas937 commented on #36
Sorry, my bad. I checked previous issues i had opened and we only discussed that option of having green and red. Thats why i had a memory of it. Ill close this issue.

But it would be nice to have :)

[2019-04-16 13:00] #36 closed

[2019-04-16 13:01] DannyDainton commented on #36
This has _never_ been there :) - You sent a message and an image a while ago about adding this to the reporter but I never got round to completing it. A combination of no time and the lack of knowledge around the best way to do this prevented me from doing the work.

https://github.com/DannyDainton/newman-reporter-htmlextra/issues/16#issue-416670153

It's on my list of things to, like a cleaner wa

[2019-04-16 13:47] lucas937 commented on #36
Yeah i noticed that haha..

Im guessing you could just use the same code you are using for the iteration information under each tab.  Because that is showing red or green. Unfortunately i have never coded in html, css, handlebars and bootstrap. But ill see if i can hide som help

[2019-04-16 14:36] DannyDainton commented on #36
I had something _like_ that but I found it tough to simulate a failed iteration, in a group of successful ones.

All the runs were Green and I wasn't happy that It was doing what I wanted it to do. Visually it looked correct but I didn't have the confidence to commit the change.

[2019-04-16 14:39] lucas937 commented on #36
Could you provide me with a code snippet of what you implemented? i could have a look at it.

You are doing a great job :)

[2019-04-16 14:41] DannyDainton commented on #36
I'll grab it later and send it across. Appreciate the support! :)

[2019-04-16 16:52] DannyDainton commented on #36
I've looked and I can't find/remember how I did it now. I know it was looking at the fails in the iterations and then added the class according to the result, to change the `background` colour on the tab.

If I get some time I'll have a look at it again and try and remember. Should have committed it back then :(

[2019-04-18 21:42] thetreythomas opened #37 "File Size of generated report"
I have a collection of 10 API calls. There is one test that runs at the Collection level, which is just making sure the API returns a 200. So 10 tests total.

One iteration of this collection generates a file that is ~1.4MB.

Ten iterations of this collection generates a file that is ~14MB.

We were going to kick this collection off tomorrow and do a stress test over the weekend, having it run 50,

[2019-04-18 22:01] DannyDainton commented on #37
For the usecase that you're running and the output you need, I don't think this reporter or any html reporter is going to give you that.

I would absolutely advise against kicking that off with this reporter listed. Just seems like it would be a waste of time in the end.

As you mentioned kibana...have you looked at the `statsd` newman reporter? That would, with some tweeking, plot that on kibana

[2019-04-18 22:15] thetreythomas commented on #37
Sweet! Thanks for the quick reply and those suggestions.

We did NOT kick that off, wanted to ask you about it before we did it.

So is your report generator targeted to maybe 20 iterations max? What did you test up to, or recommend not to exceed?

For a 1 iteration test, I've already presented an .html report to my boss, and he absolutely loved the format. Time to start adding more tests. This is

[2019-04-19 07:06] DannyDainton commented on #37
So all the data that's displayed on the reports that you see is coming from Newman - The report output is _just_ a template. You can use the default one or you could create your own one to suit your needs. The data behind it will always be the same.

There are a number of different reporters out there, some created by Postman and some, like mine, that have been created as side projects.

Take a lo

[2019-04-19 13:06] Sjain01 opened #38 "newman: "htmlextra" reporter could not be loaded."
Hi I am using following versions :-
 newman :- 4.1.0
newman-reporter-htmlextra - 1.6.10

Even though both the above applications are installed globally both on my local machine and jenkins server - I keep on getting following error :-

[code]
using following command to run the collection :-
`newman run "$collectionfilepath" -e "$environmentfilepath" --insecure --disable-unicode --reporters cli,jun

[2019-04-19 14:55] DannyDainton commented on #38
This is an environment issue rather than a reporter issue. Have you tried uninstalling Newman and the reporters and reinstalling them. It needs to be at the same level as Newman so I suspect as much as you think it might be, I don't believe that it currently is.

I don't know how you have set everything up so it would be difficult for me to know how to _solve_ this problem.

[2019-04-20 10:09] DannyDainton commented on #38
I'm closing this issue for now, i don't think it's an problem with the reporter and its more on the environment side.

I will happily open again if it turns out it is the reporter and put a fix in place but for now I'm going to close it.

[2019-04-20 10:09] #38 closed

[2019-04-20 10:12] DannyDainton commented on #37
Not really sure what I can do about this particular problem - The other reporter and the Artillery tool are great things to look at, if you're doing a stress/load test with that many iterations. I'm not sure it a HTML reporter is going to provide you with that answers you need and it would be an epic file size.

You could take a look at the Newman project and see about creating a new reporter base

[2019-04-20 10:12] #37 closed

[2019-04-21 02:27] thetreythomas commented on #37
Danny, yeah I understand, no worries.

I understand things better now. You're right, these HTML reports aren't meant for large data sets.

I'll be using your HTML reporter for 1-5 iterations, and then I'm trying to get artillery to send everything to logstash for stress testing. If that doesn't get what is needed, I'll for sure drop you an email about making my own reporter.

Thanks for all your h

[2019-04-26 10:44] joeyphant opened #40 "Missing license file"
Sadly there seems to be no license file included in the repository.
While there is the Apache license mentioned in the readme (https://github.com/DannyDainton/newman-reporter-htmlextra/blob/master/LICENSE.md), the file is not there and shows a 404.

[2019-04-26 13:31] DannyDainton commented on #40
Good spot @joeyphant

I've added the file in there now. Appreciate you posting the issue. 👍

[2019-04-26 13:31] #40 closed

[2019-05-03 08:02] bassie1995 opened #41 "Remove request headers from HTML output"
Would it be possible to not show certain elements in each request?
I'd like to, for example, remove Authorization request headers.

I'm thinking inside the options, we could do some kind of array or object with values to edit/remove?
I thought about changing the template, but having it in by default is always better than having to update my 'local' one all the time :)

Would you like me to try and

[2019-05-03 08:06] DannyDainton commented on #41
Sure, create a PR and I'll have a look.

[2019-05-04 18:37] keremcankabadayi opened #42 "Timestamp different than my local time"
Hi there, I'm using this great template to produce fancy reports from newman but creating time of report is different than my local time. For example, report time is 18:29 but my local pc time is 21:29. Any idea how to fix this?

[2019-05-04 20:13] DannyDainton commented on #42
Hey,

I'm away from home at the moment so I can take a look when I'm back if that's cool?

It's using the `helper-moment` module to create that timestamp using the following syntax:

`{{moment date format="dddd, DD MMMM YYYY HH:mm:ss"}}`

The Newman summary object does have a timestamp, which is in a different format, this _might_ help but at the moment I have no way to test it 😔

[2019-05-05 06:22] keremcankabadayi commented on #42
I found out this helper info inside docs but there is no sign about timezone. I think my issue is about timezone.

[2019-05-05 06:44] DannyDainton commented on #42
If swap the moment syntax in the template for this `{{timestamp}}` - it might change it to be timezone specific but the format with be different.

Easiest way to check this is to create a template and use that handlebars variable in there. You can point to another template using the `--reporter-htmlextra-template <path>` cli argument.

[2019-05-05 08:38] lleheaven opened #43 "suggest show failed case full path include folder name"
The report is great!

I just suggest the failed case title could add full folder path name, because my case is in different sub folders, when it fails, it only show the case name, but not show in which sub folder, then I need switch to "total Requests" tab to find the case, and the folder name always show gray color,

I suggest that if in some sub folder have error case, it could show red color th

[2019-05-05 10:10] DannyDainton commented on #43
All vaild suggestions, I'm open to PRs if you wanted to help achieve that or you could create a template to do those things rather than using the default output report.

[2019-05-06 20:46] jgsinn opened #44 "Open File After Collection Run"
Is there a way to automatically open the html file from the 'newman' directory after the file is generated?

[2019-05-06 21:22] DannyDainton commented on #44
Hey @jgsinn

I honestly don't know, it's not something that I've ever tried to do 😁

I'm sure there is some cli magic that can be done to open the latest file in the directory in a specific browser or something 🤔

Anything in here helpful?

https://stackoverflow.com/questions/18472464/how-do-i-open-a-file-with-chrome-from-the-command-line

This isn't really a _reporter_ issue so I'm going to close

[2019-05-06 21:22] #44 closed

[2019-05-06 21:23] DannyDainton commented on #42
Are you running Newman on a remote machine or something? I'm sure it just using the system time of the machine it's running from?

I'm not really sure what else it could be...

[2019-05-07 05:14] petrheckoHims opened #45 "Jenkins html report not displaying nicely"
Hello,

Firstly, thanks a lot for this amazing html reporter, it looks great! I was wondering if there is any way to make it work with jenkins html publisher (or if I'm doing something wrong on my end?). If I run newman locally with the exact same parameters, I get a nice report as expected. If I run the same in Jenkins via this command:

[code]
It will generate the report.html file just fine. The

[2019-05-07 05:55] lleheaven commented on #43
the hoped foldername show like this : https://drive.google.com/open?id=1WjqEnVhkR77Rl81pSFMTrfJMBd2hhAlE

[2019-05-07 05:59] DannyDainton commented on #43
That looks like the template from here:

https://github.com/MarcosEllys/awesome-newman-html-template

As that's just a template on top of the standard Postman HTML reporter, you could replicate what's been done there and use it with this reporter.

[2019-05-07 06:03] DannyDainton commented on #45
Hey,

Thanks for the feedback.

I don't really know anything about that plugin or know what it's doing in Jenkins.

If the information is there but the styling isn't, it could be blocking some of the CSS/JS references in the file. Have you checked the Dev Tools for any errors.

Sorry, I really have no idea what's going on with that as it's not an area that I have experience of.

[2019-05-07 08:48] petrheckoHims commented on #45
Thanks Danny, I will try to troubleshoot some more - seems like it has to do with Content Security Policy as when disabled in Jenkins, the report will display (but that's not safe), so I will keep troubleshooting.

[2019-05-07 09:05] DannyDainton commented on #45
OK, I'm doing to close this for now. We can reopen if you find a reporter specific issue.

Interesting to know the outcome of your investigation though.

[2019-05-07 09:05] #45 closed

[2019-05-07 09:07] DannyDainton commented on #41
Hey @bassie1995

I'm going to close this for now, it's not something I'm working on personally.

If you get a PR together I can review and bring into the reporter.

[2019-05-07 09:07] #41 closed

[2019-05-07 09:14] bassie1995 commented on #41
Yep, no problem! I didn't manage to get this pulled into the current sprint, so I have to hold off on this one for now :(

Once I get it up and running, I'll drop a PR!

[2019-05-07 09:21] bassie1995 commented on #42
There's an issue for that in the moment-helper repo: https://github.com/helpers/helper-moment/issues/6.

Maybe fork it, or you could add an option to manually specify an 'offset' off CEST?

[2019-05-07 16:02] angmas opened #46 "How do I disable console display feature?"
Hi Danny,

This htmlextra is exactly what I am looking for. Thanks for creating this!

Is there an option to disable test scripts console.log output-- An equivalent to the newman cli
```--reporter-cli-no-console``` option?

Thanks,
Angela

[2019-05-07 20:02] DannyDainton commented on #46
Hey,

Thank you for your kind words - there isn't anything at the moment, they kinda come through (In a way that I want to change) in you have them In the collection.

I'm going to close this issue and add a feature request for this, to the project board I have. Makes sense to surpress them and not see them on the reports.

Not sure when I'll get round to doing this but if you want to get it a go

[2019-05-07 20:02] #46 closed

[2019-05-08 09:08] DannyDainton commented on #46
Hey @angmas

I've added a `--reporter-htmlextra-logs` flag to show the `console.log()` statements in the final report. It's `false` by default. Hope that's what you had in mind. :)

This has been added to version 1.7.0.

[2019-05-08 09:20] DannyDainton commented on #42
Hey @keremcankabadayi,

I don't think this is a specific issue with the reporter - Feels more like either an environment or `helper-moment` problem.

I'm going to close this for now but can reopen if you provide more information around the problem.

[2019-05-08 09:20] #42 closed

[2019-05-08 10:37] DannyDainton commented on #43
Hey @lleheaven

For the time being, I've included the full folder path on the `Failed Tests` tab.

<img width="1168" alt="Screenshot 2019-05-08 at 11 21 23" src="https://user-images.githubusercontent.com/17089546/57369146-ccf8f400-7184-11e9-83af-baf4b380305e.png">

Not really decided what I want to do about the `Total Requests` view yet - I was looking at added some sort of indication to the tab t

[2019-05-08 16:52] angmas commented on #46
Yes! Thank you!!!

Sent from my iPhone

[2019-05-09 06:32] keremcankabadayi commented on #31
I have also this issue. I forked the repo and changed some codes for my own project and published to npm with different name. I'm getting this error.

[code]
I just changed package.json and package-lock.json.
[code]

[2019-05-09 06:38] DannyDainton commented on #31
The Newman reporters follow a certain naming convention - `newman-reporter-<name of your reporter>`

Although that's a unique NPM package name, it's not something that Newman recognises and throws the error.

Is there something that I can add to this reporter, that you have added to yours, that's currently missing?

[2019-05-09 07:56] keremcankabadayi commented on #31
I couldnt find any solution yet. I'm trying to solve this problem.
p.s: I tried with `newman-reporter-abc`. Nothing changed.

[2019-05-09 08:05] DannyDainton commented on #31
I don't see any published packages for either of those names on NPM.

I can help you but I can't see what you're doing or what you have setup so it's kinda difficult.

[2019-05-09 08:07] keremcankabadayi commented on #31
abc was dummy value, sorry about that. `newman-reporter-marvelhtmlreport`

[2019-05-09 08:27] DannyDainton commented on #31
Everything on that package is leading to my project from NPM.

I would just start again and copy the files that you need in there, to a
new local project and replace my name, the readme details etc.

On Thu, May 9, 2019 at 9:10 AM Kerem Can <notifications@github.com> wrote:

[2019-05-09 11:05] keremcankabadayi commented on #31
I solved the problem. I should create new module name with `newman-reporter-abc`  and I should run with `-r abc`.

[2019-05-09 11:07] DannyDainton commented on #31
Yep, that would make Newman use it.

What are the changes that you've made, I'm interested to know what was missing. 😁

[2019-05-09 11:10] DannyDainton commented on #43
I'm going to close this issue for now and added something to the project board for additional changes.

[2019-05-09 11:10] #43 closed

[2019-05-09 11:26] keremcankabadayi commented on #42
I fixed the problem. I'm using Docker to run tests. Inside my Dockerfile, I added next lines to solve this problem.

[code]

[2019-05-10 21:07] DannyDainton commented on #31
@keremcankabadayi I was looking at your project - You do know that you can use the `--reporter-htmlextra-title "My new report title"` to change what you have done, rather than hardcoding a new title in the `index.js` file?

[2019-05-11 06:05] keremcankabadayi commented on #31
Great point. I have some issues about it. I'm already using that flag to produce report. At my local env, I can change browser title changing with .hbs files but at my developer env, I couldnt get success. I don't know why. I'm publishing my report with Nginx at my developer env.

Also, changed here as you've seen:
![image](https://user-images.githubusercontent.com/23381187/57565758-df18a380-73cb-

[2019-05-11 06:19] DannyDainton commented on #31
This _might_ have been my confusion as to what you're trying to achieve.

The `title` option, in my reporter, changes the main report headline, rather than the `<title>` HTML element. It's only going to change the values in the template that use the `{{title}}` placeholder.

You could do 2 things:

Add the placeholder to the `.hbs` file, `<title>{{title}}</title>` - This would change that HTML ele

[2019-05-11 07:13] keremcankabadayi commented on #31
Yeah, some of my statement were confusing, sorry about that :) I know `--reporter-fancy_report_name-title "Some_Title_Name"` is my report title not browser title. `<title>{{browserTitle}}</title>` works 🎉. You should add this feature, If you want I can make PR.

Thanks for support!

[2019-05-11 07:20] DannyDainton commented on #31
I just added it to version 1.7.2 :)

[2019-05-14 05:36] lleheaven commented on #43
Thanks Danny ! It is a great report !

[2019-05-28 13:25] JLaMarcaIDEXX commented on #14
Is there a way to disable the timestamp in the file name and have each collection overwrite the last run each time?

[2019-05-28 13:35] DannyDainton commented on #14
Hey @JLaMarcaIDEXX

By default, if you don't tell the reporter where to save the output file, it will create a new one each time (With a new timestamp) in the `newman` directory.

If you use the `--reporter-htmlextra-export ./newman/myReport.html` flag, it will _overwrite_ the report each time and save it with that filename.  You can obviously name that file whatever you like and point it to a bet

[2019-05-28 13:58] JLaMarcaIDEXX commented on #14
excellent thank you!

[2019-06-19 07:47] Prachi481992 opened #62 "Unable to get Test success and failure percentage in generated report"
I am trying to use the htmlextra reporter to generate the test coverage report for my service.
But in the report, the Test Pass Percentage is always shown as 0, even when tests are added to the collection and those are passed. I've attached the screenshot of cli output, plus added the html report generated, collection and environment json.
Could you please let me know if I'm missing some configura

[2019-06-19 09:37] qianchilang opened #64 "jquery.min.js在线引用地址是谷歌的，能否换成官网的，中国大陆无法访问"
jquery.min.js在线引用地址是谷歌的，能否换成官网的，中国大陆无法访问，导致生成的报告内链接无法跳转

[2019-06-19 09:38] qianchilang commented on #64
https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js

[2019-06-19 12:14] DannyDainton commented on #64
I'll take a look at that - I'm on vacation at the moment but will change that once I'm back home.

In the meantime, you could create a new template a swap out that Google link for the official one to unblock this for you.

[2019-06-19 12:25] DannyDainton commented on #62
Thanks, I would be really helpful if you used the `issue template` so I don't have to ask you for more information.

What version of Newman do you have? What OS is this?

In terms of the number on the `percentage` section, those are correct as per the information that it's getting from Newman/the collection.

You can see in the tests section that it shows all zeros so it would be 0 percent.

Can y

[2019-06-19 13:51] Prachi481992 commented on #62
I am using Newman version 4.1.0
OS is : Windows 10 Version 1803 OS Build 17134.765
PFB my collection json.
With the comment you mentioned about in tests section it shows all zeros.
then my question changes to, why isn't it taking into account the tests which are successful as per newman cli output?
[code]

[2019-06-19 15:14] DannyDainton commented on #62
https://github.com/DannyDainton/newman-reporter-htmlextra/blob/master/README.md#compatibility

You need to upgrade your Newman version.

[2019-06-20 05:55] bmakamsatyaprakash commented on #45
This is how the report is looking like on Jenkins pipeline
<img width="748" alt="Screen Shot 2019-06-20 at 3 54 52 pm" src="https://user-images.githubusercontent.com/36174879/59824215-ceb4fa80-9373-11e9-806c-7d512eb95a16.png">

[2019-06-20 05:56] bmakamsatyaprakash commented on #45
and looking for that to look like this
<img width="1234" alt="Screen Shot 2019-06-20 at 3 56 11 pm" src="https://user-images.githubusercontent.com/36174879/59824271-fe640280-9373-11e9-9f8c-882bdecb6ad5.png">

[2019-06-20 11:48] DannyDainton commented on #45
That's doesn't really have anything to do with the reporter - It's a Jenkins confirmation thing that I have zero control over.

This was a solution that worked for someone else over in the Postman community.

https://community.getpostman.com/t/newman-htmlextra-reporter-not-displaying-correctly-when-viewed-from-jenkins/5735/2

[2019-06-20 20:39] DannyDainton commented on #62
@Prachi481992 Did upgrading the Newman version fix the issue?

[2019-06-20 20:49] Prachi481992 commented on #62
I haven't been able to check it. I'll check and revert.

[2019-06-21 00:42] petrheckoHims commented on #45
I'm able to see the nice version of the newman report after changing the jenkins CSP to:

`sandbox allow-same-origin allow-scripts; default-src 'self'; script-src 'unsafe-eval' *; img-src *; style-src 'unsafe-inline' *; font-src *;`

You can refer to [this](https://www.cyotek.com/blog/adjusting-the-jenkins-content-security-policy) article for more details of how to make the CSP change.

[2019-06-21 04:17] bmakamsatyaprakash commented on #45
Hi ,

Really appreciate your help.. It worked  :) !!!

Thank You very much for helping me and making it would in no time. This was very crucial for me and you helped me to get the issue resolved .
Running this on terminal as per your details worked perfectly fine giving me nice reports.

java -Dhudson.model.DirectoryBrowserSupport.CSP="sandbox allow-same-origin allow-scripts; default-src 'self'; s

[2019-06-21 07:56] Prachi481992 commented on #62
@DannyDainton The issue is resolved after update. Thanks for quick help.

[2019-06-21 07:56] #62 closed

[2019-06-24 09:24] DannyDainton commented on #64
Updated the link in v1.7.5

[2019-06-24 09:24] #64 closed

[2019-06-25 14:28] Prachi481992 opened #78 "Display Form Data from Request in the report"
**Is your feature request related to a problem? Please describe.**
I'm working with requests which have Input in terms of Formdata which also includes file type input. I am sending the generated report to business stakeholders who would like to see the input passed to the request in the report. But it is not getting displayed currently.
![Request in collection](https://user-images.githubuserconten

[2019-06-25 14:43] DannyDainton commented on #78
Hey,

Just to get my head around what you need to display in the report, are you about to mock something out for me.

Apologies, I don't work with requests sending files and I don't want to get it wrong :)

[2019-06-25 14:59] Prachi481992 commented on #78
What I need is if my request body is being shown in the collection, it should just be shown in the report as well.
I don't need the file in the report, file name would suffice.
so like in the report, along with the Response Body div, a Request Body div should be shown which just   shows the request body details.
I checked the default template and for request body a condition is present which says`

[2019-06-25 15:47] DannyDainton commented on #78
Ok cool - Let me take a look and I will let you know how I get on :)

[2019-06-25 17:27] DannyDainton commented on #78
@Prachi481992

Would something along the line of this work? Just messing about at the moment.

<img width="1268" alt="Screenshot 2019-06-25 at 18 25 33" src="https://user-images.githubusercontent.com/17089546/60119617-ccd5a780-9776-11e9-9d1f-0cf1cab019b8.png">

[2019-06-25 19:12] Prachi481992 commented on #78
@DannyDainton , This seems good...
But actually It will be better if we can get something like the example I gave cause it is more in sync with the way the response body is displayed.

[2019-06-25 19:22] DannyDainton commented on #78
The why that the form data and the raw json data are returned are different so it's not going to be the same as that example.

Think about in terms of the way you input the form data in the Postman app.

I'm going to do something to cater for a wider audience rather than a single use case - If that's not what you require, you can change this on your side in a template 😁

[2019-06-25 19:26] Prachi481992 commented on #78
I’ll make the changes the template on my side form now..
But I look forward to the new version..
Thanks.. :)

[2019-06-25 19:36] DannyDainton commented on #78
Ok, you're looking for something like `body.formdata.members` I think that's what contains the form data for the request.

If you change it and get something working, feel free to send a PR.

[2019-06-26 12:41] DannyDainton commented on #78
@Prachi481992

I added something like this to the template but I'm not happy with the way the report opens, just seems all laggy to me.

[code]

I'm going to leave this request open for now and park it but let me know if you get something better working.

[2019-06-26 13:27] Prachi481992 commented on #78
@DannyDainton
I was trying on the other end
I tried something like

[code]

[2019-06-26 14:16] DannyDainton commented on #78
How was the report page loading when you're opening the requests? Was it laggy as you were scrolling down the page?

[2019-06-26 15:34] Prachi481992 commented on #78
Nope. It is opening up pretty fine. No Lag.
But for that matter, even with the code changes you suggested, I didn't see any additional lag when the page is loaded.

[2019-06-27 15:02] Prachi481992 commented on #78
@DannyDainton, I was playing around with the code a little bit.
I cloned your repository and added an extra reporter in index.js
[code]

After this my request body can be easily parsed with
[code]

And it shows my request body in the report as shown in the attached image
![Request body - trial](https://user-images.githubusercontent.com/29755881/60277124-426b8000-98fd-11e9-87a9-0b894e47aea3.jpg)

[2019-06-27 16:18] DannyDainton commented on #78
That's awesome. Would you like me to add that in and make a new version or do you want to submit a PR?

The HTML code will need adding to the other templates too (until I refactor all that) and you don't really need the `id` in there as that's used in the response body section to copy the data to the clipboard.

[2019-06-27 16:45] Prachi481992 commented on #78
I've created a PR.
Thanks..!!
Cheers..!!
:-)

[2019-06-27 19:35] DannyDainton commented on #78
@Prachi481992

The pull request was slightly wrong and caused an error when the collection was run due to the reference in the template.

I added a test and caught this, didn't even catch on the review - good job I don't push it out straight away :) I'll sort it all out and push out a new version tomorrow.

[2019-06-28 09:37] Prachi481992 commented on #78
@DannyDainton
I figured out the error.
Problems in code merge.
I have fixed it ran it.. runs properly..
I'm raising a new PR.
Please check..
:-)

[2019-06-28 09:39] DannyDainton commented on #78
It’s cool, I changed it already and added a test.

Just sorting the new version now, no need for the the new PR

On Fri, Jun 28, 2019 at 10:37 AM Prachi481992 <notifications@github.com>
wrote:

[2019-06-28 09:49] DannyDainton commented on #78
New changes added to V1.8.0

[2019-06-28 09:49] #78 closed

[2019-07-01 22:56] jimmymccauleybp commented on #45
Hi @bmakamsatyaprakash @petrheckoHims
Same issue has been causing me a few problems too! I have been wasting my time looking at NPM dependencies which is not the correct solution. I'm glad it's been resolved for you.
Could I please ask where exactly you run this command? I am assuming you will need a Jenkins administrator to execute this command, if you don't have admin?
Appreciate you confirmatio

[2019-07-01 23:28] bmakamsatyaprakash commented on #45
Hi ,

I ran below command on terminal (mac) when starting up my jenkins. Jenkins is on my local machine for now.
After running below command, I got nice reports. Please try and let me know.

“java -Dhudson.model.DirectoryBrowserSupport.CSP="sandbox allow-same-origin allow-scripts; default-src 'self'; script-src 'unsafe-eval' *; img-src *; style-src 'unsafe-inline' *; font-src *;" -jar jenkins.war

[2019-07-02 08:04] jimmymccauleybp commented on #45
Hi @bmakamsatyaprakash
Thanks for replying so quickly.
I've passed the info onto the Jenkins admin who executed the command. It's all working nicely now.
All the best!

[2019-07-02 08:05] DannyDainton commented on #45
Good to see you got it sorted!

Please feel free to open new issues, if you find something specifically wrong with the report itself.

[2019-07-02 08:26] jimmymccauleybp commented on #45
Cheers Danny - and kudos! the enhanced report is awesome....

[2019-07-02 09:21] bmakamsatyaprakash commented on #45
That’s wonderful!
Thanks for letting me know.

Regards,
Bindhu Makam
Senior Consultant | Platform Engineering
Deloitte Consulting Pty Ltd
225 George Street, Sydney, NSW, 2000, Australia
Tel : Mobile: +61 403146677
bmakamsatyparakash@deloitte.com.au<mailto:bmakamsatyparakash@deloitte.com.au> | www.deloitte.com.au<http://www2.deloitte.com/au/en.html?utm_source=outlook&utm_medium=email&utm_campaign=e

[2019-07-02 09:23] bmakamsatyaprakash commented on #45
Yes.. Someone from your team replied and helped me to get this resolved and helped a lot in my demo. Cheers!
Sure, thanks for all the support.

Regards,
Bindhu Makam
Senior Consultant | Platform Engineering
Deloitte Consulting Pty Ltd
225 George Street, Sydney, NSW, 2000, Australia
Tel : Mobile: +61 403146677
bmakamsatyparakash@deloitte.com.au<mailto:bmakamsatyparakash@deloitte.com.au> | www.deloi

[2019-07-08 07:05] bmakamsatyaprakash opened #98 "Error when installing the reporter from a Jenkins pipeline script"
Running postman/newman on jenkins with configuration file which is :

[code]

It is failing on installing   on -  sh 'npm install newman-reporter-htmlextra.

[2019-07-08 07:06] bmakamsatyaprakash commented on #98
what should be done to fix the issue.
Attaching log file for details :

2019-07-08T06_52_48_567Z-debug.log

[2019-07-08 07:07] bmakamsatyaprakash commented on #98
7 error   stack: 'FetchError: request to https://registry.npmjs.org/newman-reporter-htmlextra failed, reason: connect ECONNREFUSED 104.16.25.35:443\n    at ClientRequest.req.on.err (/usr/local/lib/node_modules/npm/node_modules/pacote/node_modules/make-fetch-happen/node_modules/node-fetch-npm/src/index.js:68:14)\n    at emitOne (events.js:116:13)\n    at ClientRequest.emit (events.js:211:7)\n    at

[2019-07-08 08:13] DannyDainton commented on #98
Hey,

Are you able to download that from the command line on it's own and not part of that Jenkins script?

Have you checked your Jenkins setup? Does it download any other reporter package (html or csv) from NPM.

Not really sure what you would like me to do about this as I honestly don't think it's a htmlextra specific issue.

[2019-07-09 00:16] bmakamsatyaprakash commented on #98
Sure.. Thanks. I shall use the template .Apologies.
Issue is resolved by itself. Sorry for inconvenience and thanks for support

[2019-07-09 00:16] #98 closed

[2019-07-11 03:23] jacktan1991 opened #104 "I18n support"
As described in title, need I18n support

[2019-07-11 05:35] DannyDainton commented on #104
You're going to need to add more details to that request. By just referencing the title, I don't know what you mean.

Please expand on this, what you would like to see, why you feel its important and then I can make a decision based on that information.

Failing that, I'm going to have to close this as there is nothing I can do with the details given.

[2019-07-11 05:56] jnfsmile opened #105 "Can I add my own Custom Helper?"
I want to do some reformatting, can I define helpers of my own?

[2019-07-11 08:06] DannyDainton commented on #105
Without expanding more on that single statement about something you have in your mind - I'm not sure how I can answer that question. :)

[2019-07-11 08:29] jnfsmile commented on #105
Eg. I would like to parse the response body (should be json) and expose one of the fields earlier on.

[2019-07-11 08:42] DannyDainton commented on #105
Can you give me a mock up or an example image of what you're aiming for?

I still don't really understand the use case?

You have the code locally so you could, technically, add anything you want
and just run this on your own machine.

On Thu, 11 Jul 2019, 09:29 Naftali, <notifications@github.com> wrote:

[2019-07-11 08:54] jnfsmile commented on #105
I want _trace_ to be more visible, i.e. print it on a separate card

Response body:
`{
  "code": "402000000",
  "reason": "key: 4111-455a failed.",
  "status": "422",
  "trace": "2b07",
}`

I'm assuming I'll need a helper of my own for this (am I wrong?)
I guess the question is if I need to change the package in order to add such a helper or can this be done by importing it from elsewhere?

[2019-07-11 09:01] DannyDainton commented on #105
What does this currently look like on the final report?

What do you want to see happening? Show what you would like the end result to be.

The default template will display all the information from the Newman collection run in the same way each time. To add a new card for _something_ the template will need to change and you would need to tell it want you want to put in there.

[2019-07-11 09:09] jnfsmile commented on #105
Currently I get the response body as a json string

I want a new card, like this:
![image](https://user-images.githubusercontent.com/2847469/61037909-a9e0ff80-a3d4-11e9-8d68-e7a954397fe9.png)

[2019-07-11 09:30] DannyDainton commented on #105
It's a `response body`, from what I can see so I would expect it to be there in that section. 😁

I think you could either create a custom template with that in there and possibly add a helper to the `index.js` file to get that data and use handlebars to display it in your new panel.

You could also `console.log()` than value in the request and then use the `logs` flag to display it on the report.

[2019-07-12 12:57] DannyDainton commented on #104
I don't think that I will be adding any specific language support for the reporter.

As the reporter gives everyone the ability to create their own custom templates, this is something that can be handled by the user.

[2019-07-12 12:57] #104 closed

[2019-07-12 14:33] AlviseSembenico opened #107 "NPM audit issue"
**Describe The Problem**
Installing this library triggers NPM audit warnings.

**Steps To Reproduce**
`npm install newman-reporter-htmlextra`

**What Are You Seeing**
`npm audit`

[code]
**Screenshots and Gifs**
Add `screenshots` or a `.gif` to help explain your problem better. These things help bring the problem to life _A picture paints a thousand words..._

**Collection and Environment Files**

[2019-07-14 07:05] DannyDainton commented on #107
Cheers, I've have a look at will see what I can do.

As these are packages where dependants need to update their modules, it might take a little longer to manually fix this.

All suggestions and PRs welcome.

[2019-07-14 07:06] DannyDainton commented on #105
@jnfsmile

Which approach did you go for in the end?

[2019-07-15 15:39] schwarcu opened #115 "Requests in folder are marked with green color if all tests skipped - misleading"
**Describe The Problem**
If we have some dependencies in our test cases it's preferable to set them ask "Skipped" if precondition/preconditions failed. These are shown in the "Skipped" tab of the report.
However requests in folders are marked with green color instead of yellow. Which is misleading because it looks the same as when all test have passed.

**Steps To Reproduce**
Have requests with te

[2019-07-15 17:23] DannyDainton commented on #115
Hey @schwarcu

Thanks for raising that - It's a very crude way to determine what's going on, to be honest. It was added as a 'quick view' to know which folders have failed tests. I added the green icon in for consistency.

I guess a similar confusion would come if there were skipped and passed tests as the logic there is basic and done solely using the handlebar syntax. It only really says "If the

[2019-07-16 08:03] DannyDainton commented on #105
I'm going to close this for now, it's not something that I'm going to be adding to the reporter.

Be interested to see what you come up with though.

[2019-07-16 08:03] #105 closed

[2019-07-17 07:08] DannyDainton commented on #115
@schwarcu

Would something like this be helpful or is this too far down for a 'quick glance' ?

<img width="1233" alt="Screenshot 2019-07-17 at 08 04 48" src="https://user-images.githubusercontent.com/17089546/61354287-bbf5ee80-a869-11e9-9544-0c763fdc4625.png">

I don't really want to remove the icon from the folder level as that's more about seeing which folders contain `Failed` tests and the red

[2019-07-17 09:15] suggers-7F opened #117 "newman: "htmlextra" reporter could not be loaded"
why -r html success, -r htmllextra fail
I ordery install htmlextra

D:\nodejs>newman run https://www.getpostman.com/collections/631643-f695cab7-6878-eb55-7943-ad88e1ccfd65-JsLv -r html

D:\nodejs>newman run https://www.getpostman.com/collections/631643-f695cab7-6878-eb55-7943-ad88e1ccfd65-JsLv -r htmlextra
newman: "htmlextra" reporter could not be loaded.
  please install reporter using npm

[2019-07-17 10:36] DannyDainton commented on #117
This is an environmental issue, the reporter or any reporter needs to be installed at the same level as Newman. So if you have globally installed Newman, then you need to globally install the reporter.

Have you tried doing `npm i -g newman-reporter-htmlextra` ?

[2019-07-17 10:44] DannyDainton opened #118 "Expand / Collapse buttons only work on the first iteration tab"
**Describe The Problem**
The expand and collapse buttons are only working for the first iteration so If you have more than 1 iteration, you will need to still manually open each of the folders. :(

**Steps To Reproduce**
Steps to reproduce the behaviour:

1. Run the collection with multiple iterations
2. Open the report in the browser
3. Select the `Request` view
4. Select any of the other iterati

[2019-07-17 10:46] YiIsMee commented on #117
first step
npm i -g newman-reporter-htmlextra

[2019-07-17 11:17] suggers-7F commented on #117
thanks
not htmlextra question
is newman question
it's success when I reinstall newman

[2019-07-17 11:31] #117 closed

[2019-07-17 11:32] suggers-7F opened #119 "URL encoded POST request missing request body on report"
I have a request and request mesthod is post
i see report discover have no body
i want to see body
how to do ?

[2019-07-17 11:43] DannyDainton commented on #119
If this is a bug, please create a new issue, filling in all the details in the template.

Without this information, I simply cannot do anything about this problem.

**Describe The Problem**
A high-level description explaining the issue that you're facing.

**Steps To Reproduce**
Steps to reproduce the behaviour:

1. Run the collection '...'
2. Open the report '....'
3. Select the `Request` view '.

[2019-07-17 11:46] suggers-7F commented on #119
now i only see request headers

Is there a request body showing the report?

[2019-07-17 12:09] DannyDainton commented on #119
Please read my comment and edit for issue report - If this isn't done, I can't help you and I will be closing the issue.

[2019-07-17 12:33] DannyDainton commented on #115
I published a new version of the reporter that has this change. Let me know what you think.

[2019-07-17 12:41] suggers-7F commented on #119
sorry ，my english is so poor , Didn't make you understand what you said.I apologize

Describe The Problem
i discover report have'nt requests body when method is POST

Steps To Reproduce
Steps to reproduce the behaviour:
   The referenced document json  contains  some requests
   some requests request Method is POST
   but i only see report have request headers no request body
   i wish report have

[2019-07-17 12:45] DannyDainton commented on #119
Can you update to the latest version and try again please.

I still require more information on the POST request, what type of data are you sending.

If you're English is poor, that's OK, you can send the information in images instead.

It's difficult to help with any problem if I can't see what you're seeing - without more details, I'm just guessing.

[2019-07-17 12:53] suggers-7F commented on #119
![微信图片_20190717203157](https://user-images.githubusercontent.com/39897104/61376728-496e2880-a8d4-11e9-8d6c-c603aac7d9a0.png)
it's my request's
method is post
it's have a body

![微信图片_20190717205038](https://user-images.githubusercontent.com/39897104/61376846-96ea9580-a8d4-11e9-8d5f-52a92a84d478.png)
it's use htmlextra get report
only have REQUEST HEADERS
i wish add REQUEST BODY
how to do?

[2019-07-17 12:55] DannyDainton commented on #119
Try this again with the latest version 1.8.3

[2019-07-17 12:55] suggers-7F commented on #119
can you understand chinese?
if you understand i can use chinese  Description problem

[2019-07-17 13:04] DannyDainton commented on #119
请使用最新版本1.8.3再试一次

[2019-07-17 16:29] DannyDainton commented on #118
Fixed in Version 1.8.5

[2019-07-17 16:29] #118 closed

[2019-07-18 02:25] suggers-7F commented on #119
thanks, it's succeed

[2019-07-18 05:51] #119 closed

[2019-07-19 08:01] DannyDainton commented on #115
Going to close this one, the new feature to make `skipped tests` more visible has been added to the new version.

If you require something else, could you create a new issue please.

[2019-07-19 08:01] #115 closed

[2019-07-31 07:09] schwarcu commented on #115
Looks awesome I will update my jobs and check results!

[2019-08-02 11:06] DannyDainton commented on #107
I've updated the packages to remove this issue.

There is still an issue with the version of Lodash being used in one of the Dev Dependencies of the reporter.

I'm going to keep this issue open until the PR on that project have been accepted.

[2019-08-07 08:54] Crustacean commented on #42
thanks, @keremcankabadayi this worked like a charm

[2019-08-11 08:21] DannyDainton commented on #107
I'm going to close this issue now, I believe it's been solved in the latest version.

Please open the issue again if this is not the case.

[2019-08-11 08:21] #107 closed

[2019-08-14 14:35] gdekeuster opened #131 "Passed and skipped tests are still shown with showOnlyFails option"
I run my newman tests in TeamCity with following options
-r htmlextra --reporter-htmlextra-showOnlyFails --reporter-htmlextra-title NewmanTests --reporter-htmlextra-export newmanReport/newmantests.html --reporter-htmlextra-logs --reporter-htmlextra-darkTheme

It looks like the showOnlyFails option is not taken into account. The generated report still contains the passed and skipped tests.

![image

[2019-08-14 20:21] DannyDainton commented on #131
Hey,

Thanks for submitting the issue.

Can you use the template for the bug report as this has sections with the information that I require to actually investigate the issue.

Without this, it's just a series of back and forth questions to understand what you mean 😁

It's hard to tell what you mean just from that cropped image, that report didn't have any failed tests.

Do you mean that you can s

[2019-08-14 20:25] pabloart opened #132 "Not generate htmlextra using –bail folder in error cannot read property"
Hello,

npm version: 6.9.0 and 6.10.3
newman version: 4.5.1

I am running newman and sending the following parameters:
**-e**
**-g**
**-d**
**--folder**
**-r** **_htmlextra,cli_**
**--reporter-htmlextra-browserTitle
--reporter-htmlextra-title
--reporter-htmlextra-titleSize
--reporter-htmlextra-export
--bail** **_folder_**
**--insecure
--verbose
--reporter-htmlextra-logs
--ignore-redirects**

As I

[2019-08-14 20:38] DannyDainton commented on #132
Hey,

I'll take a look in the morning, getting a bit late here :)

Have you tried the same thing with other reporters? The CSV or Standard HTML reporter?

This is a Newman command and independent of the external reporters so if it's not doing it in this one, I would suspect its not doing it there either.

I would also take a long at your script and understand what that's not defined and that point

[2019-08-14 21:11] pabloart commented on #132
Hi,

Try the -r html report and the same thing happens.

Where it fails is when it does:
if (jsonData.PaymentMethods.length! == null) {

Since the json that it returns does not contain the PaymentMethods, it cannot calculate the length and fails.

Thanks and regards.

Pablo.

[2019-08-14 21:20] DannyDainton commented on #132
So this isn't really an issue with this specific reporter and more of a way that Newman functions. I'm going to close this issue as there isn't anything that I can do about it.

Drop me a message on the community site and I will take a look at the script for you. Send the full script rather that a small piece of it as that doesn't really show that whole picture.

[2019-08-14 21:20] #132 closed

[2019-08-15 13:35] pabloart commented on #132
Should I raise the defect in newman?

Thanks and regards.

Pablo

[2019-08-15 13:45] DannyDainton commented on #132
I'm not sure what the behaviour of that command is, to even call it a `defect` - It might be worth posting what you're seeing as a question on the community site and gathering information about the expected outcome first.

Once you have more knowledge around it, then you can maybe raise an issue on the Newman repo.

[2019-08-15 17:42] gdekeuster commented on #131
Hey,
My apologies. This issue can be closed.
I misunderstood the purpose of the showOnlyFails option.
I see now it has an effect on the Total requests page were only failed requests are shown.
Thanks for creating this reporter.

[2019-08-15 17:42] #131 closed

[2019-08-15 18:03] DannyDainton commented on #131
No worries, I should probably make that statement clearer. :(

Thanks you using the reporter, all feedback/enhancements are very welcomed.

[2019-08-22 16:56] sup-engineer opened #136 "How to provide descriptive name for an iteration"
First of all , thanks for this lovely reporter!

I am running my collection against a set of test vectors. I would like to add some form of test vector reference string along with the iteration number in the final report as shown below:
![image](https://user-images.githubusercontent.com/20064961/63533852-8e096700-c505-11e9-9ff2-114e0c9ac90f.png)

This test vector reference string will change for e

[2019-08-22 17:26] DannyDainton commented on #136
Hey @sup-engineer,

Appreciate the kind words!! 🏆

Umm...it's just a string that happens to be a number so it _could_ be something that works for you but I don't know how you would feed it that data from a collection.

I don't really like the way I've added the tabs and I haven't had time to change it, once you have like 22+ iterations, it starts to truncate and look ugly. Adding text to that woul

[2019-08-23 08:52] ldz-w opened #137 "Beautify option for XML"
Hello!

First of all, thank you for the reporter.

We're testing an API that responds with single-line XML, which is difficult to read (the alternative being copy and paste to a beautifier/editor which is tedious).

Would it be possible to run XML/JSON bodies through a beautifier before adding them to the report (maybe with the option to switch it on/off via command line flags) or add a "Beautify"

[2019-08-23 09:14] ldz-w commented on #137
Upon further investigation it seems like this is done for JSON.
I guess the issue only applies to XML then.

[2019-08-23 10:35] DannyDainton commented on #137
Hey @ldz-w

I've not really looked at adding a button but I can look at adding something that will beautify the XML.

All the XML responses I've been working with have already been formatted that way before so I've not had that issue but I can see how it would be annoying.

If you wanted to submit a PR for a fix that would be cool or you could wait for me to have a look, just unsure on a timeline

[2019-08-23 10:43] ldz-w commented on #137
I understand you can't give me a timeline, I appreciate you taking the time to respond so quickly :)

That'd be the best case scenario, but sadly that's not an option for us.

If I find the time to fix it myself I'll open Pull Request.
I just wanted to open an issue, maybe somebody else who is more familiar with Postman reporters needs the same feature.

I'd appreciate it if you leave the issue op

[2019-08-23 10:57] DannyDainton commented on #137
It's more about the JS than Postman, The template that's used is something that I've created and added code to format the JSON response but for XML or Plain Text it just displays it as it receives it.

If I was a pro dev, I would just knock that fix up now but I'd need a bit of time to work out how to do that :)  I'm sure it would be easy for someone else :)

The hacky script in the template looks

[2019-08-23 12:55] sup-engineer commented on #136
yes..I agree....the default template is probably enough for most users. So i am not sure if it is worth modifying your default template to achieve this...so I am thinking of modifying your default hbs and creating a custom template for this.

I am stuck with a couple of things. hoping you can help point me in the right direction.

The reason I thought we could access information from the 'data' ob

[2019-08-23 15:42] DannyDainton commented on #136
For point 1 - No it doesn't work like that, unfortunately. It would make things easy if it did :) That data file is accessed via a Postman Collection using `pm.iterationData.get('var_name')` or using the `{{var_name}}` syntax in specific places in the UI. Newman doesn't actually expose that data which is doesn't help when you even what to display something simple like the name of the data file bei

[2019-08-26 12:34] azgo commented on #16
Hi Danny!
Is there a way to make this showOnlyFails feature switchable, e.g. with a button that filters the report tabs and then shows them all again?
Brgds,
Gergő

[2019-08-26 13:00] DannyDainton commented on #16
Hey,

Yeah probably, you would need to create a new custom template if you wanted to though.

You could just add a toggle in the report and filters out the two different items in the UI.

Not something I'm looking to do myself but that's the beauty of being able to create your own template 😁

[2019-08-26 13:10] azgo commented on #16
True, true :)
You know how comfy is when wishes materialize from thin air ;) Had to try :)))
Brgds

[2019-08-26 13:14] DannyDainton commented on #16
You could give it a go and submit a PR, everyone gets the benefits then 😉

[2019-08-28 16:11] sup-engineer commented on #136
@DannyDainton  thank you. I went through that post.

I am now looking to use the environment variables to achieve this instead of iterationData. I was hoping if you could clarify one doubt I have.

when I use {{#with summary}}, is this summary object not the same as the one returned from the newman.run ~callback as shown below??:
![image](https://user-images.githubusercontent.com/20064961/63872311

[2019-08-28 16:25] DannyDainton commented on #136
Awesome work so far - Really glad you're giving it a go!!

So the reporter uses the data from the `beforeDone` event, give or take a few tweeks, so that structure of that data would be different from the summary data you see. I think that's using the `done` event.

If you take a look at the `index.js` file for the reporter, you will be able to see where it's getting the data from and hopefully wor

[2019-08-31 23:35] adamcunnington opened #141 "no such file or directory, open '/path/to/.html'"
I have installed newman-reporter-htmlextra and when I run newman with -r htmlextra, I get an error:

error: ENOENT: no such file or directory, open '_path/to_/.html'

It looks like newman is unable to write the HTML report file?

[2019-09-01 05:40] DannyDainton commented on #141
Hey Adam,

As you've gone through the process of raising a bug, can you use the template please and fill in the details.

You should see this template when you select `Bug Report` from the new issue flow.

It's just really difficult to actually do anything about problems raised, without the basic details.

[2019-09-01 07:18] DannyDainton commented on #137
Hey @ldz-w,

I accepted the PR and made the change to the CHANGELOG file, I wanted to add something else so I thought I would do it at the same time. :)

I think this XML formatting is a good option for the short term but I'm not sure it's going to cover _all_ use cases so I will be looking at changing the way this is done in the future.

Really appreciate you added this feature to the project 🏆

[2019-09-01 07:18] #137 closed

[2019-09-01 07:32] adamcunnington commented on #141
Ah, whilst filling this out, I have figured your bug out for you :).

My guess is you generate the report name based on the name of the collection - but you don't pass the collection name through a character check func. My collection contains the pipe character which is an illegal character for a name in a file on windows (and UNIX based platforms I believe).

[2019-09-01 08:13] DannyDainton commented on #141
That's just the default name that the reporter produces, users tend to create their own file names and save locations by using the `--reporter-htmlextra-export <filename>` CLI flag, when using Newman.

As I don't have control over the names that users give to their Collections, it's difficult to mitigate against these things from happening :)

[2019-09-01 09:22] adamcunnington commented on #141
I think this is pretty standard practice; you don't need to know how the
users name their collections - you just need to use a regex sub.

I don't know JS but the python equivalent would semantically be:
valid_file_name = re.sub(r"\W", "_", collection_name, flags=[re.ASCII])

On Sun, 1 Sep 2019, 09:13 Danny Dainton, <notifications@github.com> wrote:

[2019-09-01 09:29] DannyDainton commented on #141
Honestly, I'm probably not going to be doing that anytime soon as there is
a valid workaround so it's not blocking anyone from using that reporter.

Adding the export flag to your cli command or in a JS file, if using Newman
as a library, will allow you to create the file.

If I added some knarly regex into that part of the reporter it's going to
log out that your filename is invalid and you would

[2019-09-01 09:37] adamcunnington commented on #141
I disagree but hey - it's your project.

Great template, thanks for sharing.

On Sun, 1 Sep 2019, 10:29 Danny Dainton, <notifications@github.com> wrote:

[2019-09-01 11:20] DannyDainton commented on #141
That's cool, no one is always going to agree with everything that people do. 😁 I really appreciate you bringing it to my attention, like I said, it's not something I actually thought about before I made that change. 😔

It will get done at some point but for now, as there is a valid method for exporting the file, I'll be adding that to my backlog.

Always open to PRs so if you find a working soluti

[2019-09-02 06:13] ldz-w commented on #137
Hey @DannyDainton !

Thank you for accepting and doing the CHANGELOG changes yourself (only on this account Mo-Fri, it's a work account).
I agree that it should be refactored, but it's good enough for me right now *until* it gets rewritten 😄

If I think of something else or actually rewrite it myself, I'll open another PR.

[2019-09-05 14:14] DannyDainton commented on #141
I've added this as an Issue on my backlog, I do want to fix it but I didn't have the time for a full fix now.

I don't want to just give it a generic valid default filename again, that would be a quick solution that I could do now but it's not what I want to go for long term.

I'm going to close this for now and then track the issue elsewhere.

[2019-09-05 14:14] #141 closed

[2019-09-08 22:21] ggpai opened #144 "Console Logs are attached to report by default"
**Describe The Problem**
Console logs are attached to report by default

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Run the collection '...'
newman run DataSet_Nimbus.postman_collection.json -e Template.postman_environment.json --env-var URL=%APIURLvalue% -k --export-environment env_update.json --reporter-htmlextra-browserTitle "APIDataSet" -r htmlextra --reporter-htmlextra-export

[2019-09-09 01:10] DannyDainton commented on #144
Hey @ggpai,

Can you delete the parts of that issue template that are unchanged and also explain what that actual problem in that you're seeing, please.

[2019-09-09 13:07] DannyDainton commented on #144
Your Newman and reporter version is massively out of date - That flag to change the log visibility came in at v1.7.0 and you're using v1.0.3

Can you update both and check again.

[2019-09-09 14:57] JamalMSaad commented on #31
Hi,
I am having the same issue on macos mojave , when trying to run my collection 'newman run postman.json -g global-variables.json -r htmlextra', then running
 'install -g newman-reporter-htmlextra' to install it and i am getting the following error :
npm WARN deprecated gulp-header@1.8.12: Removed event-stream from gulp-header
npm WARN newman-reporter-htmlextra@1.8.8 requires a peer of newman@>=

[2019-09-09 15:28] DannyDainton commented on #31
I don't think that this is an 'issue' with the reporter, it's a warning and won't make anything stop working.

This thread is a little bit old now, do you want to just create a new issue with all the details of what you can see happening?

[2019-09-09 15:40] JamalMSaad commented on #31
Thanks Danny for the quick reply,
ok i will create a new issue and add the details .

[2019-09-09 16:18] JamalMSaad opened #145 "getting following error "newman: htmlextra reporter could not be loaded. please install reporter using npm""
Hi ,
I installed newman using 'npm install -g newman' from the terminal,
and used newman commands to run my postman collections, and it is working fine and gives me the default report, but i wanted to create better HTML reports by installing html and htmlextra report using the following commands 'npm install -g newman-reporter-html' and 'npm install -g newman-reporter-htmlextra'

The result of 'np

[2019-09-09 21:47] DannyDainton commented on #145
Not really sure what's going on here, I would have to put this down to an environmental issue as if I were a global problem for everyone, we would have more reports of the same issue.

I hate to give you a kinda turn on and off again solution but could you do the following:

`npm uninstall -g newman newman-reporter-htmlextra`

and then do a full install again:

`npm install -g newman newman-report

[2019-09-09 22:01] samesfahani opened #146 "Reporter not generating file when error in test-scripts (CLI does)"
**Describe The Problem**
There is no file generated by the reporter if the error being thrown is in test-scripts. By comparison, the CLI does report on that error.

**Steps To Reproduce**
Steps to reproduce the behaviour:

1. Create a test that fails in a script exec (e.g. try to reference undefined)
2. Run tests with CLI and htmlextra as reporters
3. Observe that the CLI reports on it but not htm

[2019-09-10 01:44] DannyDainton commented on #146
What command are you using with the reporter?

What's the name of your collection?

Do you have a Newman directory created with the file in?

If it's a test failure, there is no reason why it wouldn't create that file, did it throw any sort of error?

[2019-09-10 04:21] spoloju opened #147 "API data is not found in newman html-extra report for request which initiated through pm.sendrequest"
create an async call via pm.sendrequest in the pre-request script of the main request & run through Newman.
HTML extra report will be generated once the request is completed.
Open the HTML report.
Issue - you will not find pm.sendrequest call data in Total request's tab & Failed Test tab.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-10 05:06] DannyDainton commented on #147
This is an issue with Newman, you get the same thing happening on any reporter.

https://github.com/postmanlabs/newman/issues/1303

It's not something I can do anything about without a change to Newman.

[2019-09-10 05:06] #147 closed

[2019-09-10 08:03] JamalMSaad commented on #145
both packages are installed at the same level but the issue still exists , check the following screen shot .
![Screen Shot 2019-09-10 at 10 51 03 AM](https://user-images.githubusercontent.com/12841220/64595273-436b6400-d3ba-11e9-87c5-4c3992b9a732.png)

[2019-09-10 11:00] DannyDainton commented on #145
I see that you're using Node 12, Newman currently have issues with certain aspects of that version.

Are you able to give it a try with Node 10, just want to rule that out. You could use the node version manager, flip between the different versions.

https://github.com/nvm-sh/nvm/blob/master/README.md

The error message from Newman is a little confusing as it doesn't really tell you the actual rea

[2019-09-10 12:31] JamalMSaad commented on #145
I fixed the issue by removing node completely and install it again then execute 'brew doctor' and  'brew cleanup' , then install newman and htmlextra reporter

Thank you for the help!

[2019-09-10 12:31] #145 closed

[2019-09-10 14:45] samesfahani commented on #146
Hmm, it seems to be related to the `abortOnError` and `abortOnFailure` flags. If I set them to false, the report generates fine. Not sure if this is expected.

[2019-09-10 15:03] DannyDainton commented on #146
Those flags are part of Newman and independent to any of the reporters, the internal code of Newman would have something in there that blocks the report being created using any of those flags when using the CLI reporter.

This reporter can only output what Newman tells it, in the Summary object, if the processing of that is blocked when using those flags, there isn't a lot that I can do from my si

[2019-09-10 15:03] #146 closed

[2019-09-13 18:38] DannyDainton commented on #144
Hey @ggpai,

Did the upgrade help with the issue?

[2019-09-15 17:53] #144 closed

[2019-09-15 17:56] DannyDainton commented on #136
Hey,

I'm going to close out this issue as it's not something that's specifically _wrong_ with the reporter itself, it's something that you would like to achieve for your use case.

 I'm happy to continue discussing the issue off line with you though.

[2019-09-15 17:56] #136 closed

[2019-09-16 14:24] sup-engineer commented on #136
Hey @DannyDainton  no worries. Yes, there is nothing specifically wrong with the reporter. Also thanks for pointing me to the correct place to look in the index.js . I noticed that the collection environment is already exported from index.js and can be accessed in the handlebars template.

I have managed to customise the template to get a solution for my use case. Here is what I did in case anyone

[2019-09-18 16:51] neillindberg opened #148 "Support naming report file when using collection.item"
I found that I could run a single test out of a collection:
https://github.com/postmanlabs/newman/issues/337

That's great. I use jsonpath, grab the single item:
[code]
That's great! However, it seems this package uses the name of the base collection to name the resultant html file. So, when I run the above I get: undefined-\<datetime\>.html
I've verified that running the full collection results i

[2019-09-18 17:42] DannyDainton commented on #148
Hey @neillindberg,

You _could_ use the `export` key from the `reporter` options, in your file, to name the file whatever you like.

If this isn't used, it will use the default. That currently is the Collection name which is becoming a pain actually for a number of reasons but this just adds fire to that argument.

As you've used the library version of Newman, you could use the same variable name

[2019-09-23 18:25] DannyDainton commented on #148
@neillindberg Did this help you out, don't really want to leave an open issue sitting here getting stale.

[2019-09-25 03:22] DannyDainton commented on #148
I've provided a workaround to your specific issue so I'm closing this issue now but feel free to open it again if you require more information.

[2019-09-25 03:22] #148 closed

[2019-10-15 11:29] Kriz1881 opened #152 "Go to top button into the "Console Logs" section"
**Is your feature request related to a problem? Please describe.**
When there are a lot of console log messages and the user scroll to the bottom of the page, there is no option to go to the top of the report as in "Total Requests".

**Describe the solution you'd like**
"Go to top" button into the "Console Logs" section

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2019-10-15 11:45] DannyDainton commented on #152
That's a good idea - I did plan on doing that but I think I held off because I wanted to move the console logs into the individual requests, rather than have them in a separate area.

I'll take a look at doing this for sure.

[2019-10-15 11:49] Kriz1881 commented on #152
I would love to see the console logs into individual requests!

Keep up the good work, the reporter is really great :)

[2019-10-21 16:04] DannyDainton commented on #152
I have something that I can add to the templates that will add this in for the Console Logs but I'm not 100% happy with it, it will work but it's only really going to be a short term thing until I can get the logs into the requests.

[2019-10-22 08:58] Kriz1881 commented on #152
@DannyDainton  Thank you!
Looking great, I`m updating asap :)

[2019-10-22 09:00] DannyDainton commented on #152
I updated the styling _slightly_ to be more consistent so it might look different than the gif posted.

Let me know if it's rubbish though :)

[2019-10-22 15:22] QuasiQA opened #153 "Link test case, bug, documentation to the test"
**Problem:**
1. Usually autotests are based on manual test cases. So it will be great to have possibility see related test case and also have possibility to go directly to the test case in test management system (TMS) from the report.
2. Also sometimes tests may fail due to existing issue. So it will be great to have possibility see related bug and have possibility to  go directly to the issue in

[2019-10-22 15:42] DannyDainton commented on #153
Is the image a mocked version of what you would like to see in the report or a template that you have created? I'd be happy to look at any PRs that you want to create.

Adding extra things in via the cli flags is the easy way to get non-Newman data into the report but it would need some processing in the reporter to _know_ where that belongs or what request to add that too.

At the moment, I can o

[2019-10-22 17:05] QuasiQA commented on #153
The images are just mocked directly in browser, so no templates for them

Agree, this is the easiest way to add non-Newman functionality. This is exactly what I wanted to have - new functionality, related to the report, but not to the Postman/Newman. And to have it, I only can manage request names somehow (by adding templates like described), because there is no related postman UI functionality.

[2019-10-22 17:37] DannyDainton commented on #153
If what you're adding helps more people rather than just solving your current use case then I would consider it.

This would involve changing the index.js file and all the templates in order to add something that might or might not be useful. Like I mentioned before, add a flag that will render _something_ is easy but you're talking about quite contextual things and those need to be added to a cer

[2019-10-22 18:57] QuasiQA commented on #153
Yes you are right Danny
I'll try to implement this changes with rendering that HTML part of report ONLY if the parameters are defined and naming template used in the request

[2019-10-22 21:08] DannyDainton commented on #153
That's easy to do, I have places all over the template that do that in the request view based on certain things being there/not being there.

The trouble I see is that it's difficult to insert that data into say a single request in the collection, I haven't tried it yet but I can see it being tricky.

[2019-10-23 06:21] Kriz1881 commented on #152
Hi @DannyDainton,
I have tested the "Go to top" button and it is not visible (at least with my tests) when thare are no "skipped" requests (please see the attached gif).

![gif](https://photos.app.goo.gl/EPaC3KTTrWE7SgbN6)

Also there is an error into the console on page scroll:
backToTop.html:12496 Uncaught TypeError: Cannot read property 'style' of null
    at scrollFunction (backToTop.html:1249

[2019-10-23 06:24] DannyDainton commented on #152
Let me have a look, I did see that when I added it in a different place but thought I fixed it.

My bad, leave it with me. 😔

[2019-10-23 06:38] DannyDainton commented on #152
Do you use the default theme or the Dark theme?

[2019-10-23 06:43] Kriz1881 commented on #152
I`m using the default theme

[2019-10-23 06:56] DannyDainton commented on #152
Yeah, I can see the issue. I'll fix that as soon as I can.

[2019-10-23 07:17] DannyDainton commented on #152
Ok, I pushed a fix.

Can you to the latest version and give it another go please?

[2019-10-23 07:18] Kriz1881 commented on #152
On it :)

[2019-10-23 07:29] Kriz1881 commented on #152
@DannyDainton  🥇
Working great now!

[2019-10-23 07:35] DannyDainton commented on #152
Going to close this issue.....again!

Sorry for not getting it right the first time, basically didn't test it properly and saw the problem straight away. Doh!

Oh well, there is a lesson learnt here. :)

Thanks for flagging that!! 🏆

[2019-10-23 07:35] #152 closed

[2019-10-23 07:52] Kriz1881 commented on #152
@DannyDainton Thank you for the implementation and the fast response :)

Looking forward for the future console logs improvements!

[2019-10-23 17:00] DannyDainton commented on #153
I'm going to close this for now as it's not something I'm going to be working on.

Can reopen if I either get time to look at it or receive a PR 😁

[2019-10-23 17:00] #153 closed

[2019-10-29 20:24] josephthanaraja opened #154 "Html Report - Docker Image - Delay in report and calculate total runtime"
I AM SUCCESSFULLY using the htmlextra report with Newman docker images but facing an issue form Jenkin pipeline. The issue is, reports are taking more time with more than 500 test cases but my jenkin pipeline is not waiting for the reports and to solve this issue, I have added some seconds in my pipeline (Sleep(seconds)) but that is not the actual work around. Since tomorrow we may add another 100

[2019-10-29 21:20] DannyDainton commented on #154
That's not really a specific issue with this reporter or even an enhancment that I can make.

It's basically a dynamic HTML file that will get bigger and bigger the more you add to it. There are some cli flags that chop down parts of the final report that you could try.

Do you _need_ everything in the report? Who's the report for? What do they _need_ to see?

[2019-10-30 07:40] DannyDainton commented on #154
I'm going to close this issue as you've asked the same question on the Newman repo.

I don't feel this is an issue with this reporter or at least something that I can change to help your environment setup.

[2019-10-30 07:40] #154 closed

[2019-10-30 14:18] josephthanaraja commented on #154
But is there any way (flag or any attribute) to find the REPORT completion status?

[2019-11-01 19:54] josephthanaraja commented on #154
Got the solution by removing docket run "-t" and added added run "-x" in newman

[2019-11-15 11:55] tceu-mihirmehta opened #156 "newman reporter with other frameworks"
Hi Danny,

This is not an issue but a general piece of information which may be useful to many in the community.

I use Karate DSL framework to run my API tests and I am very happy with the framework. Newman html reports are perhaps the best reports that I have seen amongst the other reporting tools and I would love to integrate these with my current Karate framework. Is it possible to add the rep

[2019-11-15 13:43] DannyDainton commented on #156
Hey @tceu-mihirmehta,

Thanks for the question!

Karate DSL is not something that I'm familiar with, having never used it. I'm not really sure what the output format of that would be. The output of Newman is JSON, in a particular format.

This reporter would only work with Newman as the final reports are all created from the data coming from that Parent project, as it is, it couldn't be run indepe

[2019-11-18 07:30] DannyDainton commented on #156
I'm going to close this issue out as it has nothing specifically to do with this reporter or anything that I can _fix_ 😁

[2019-11-18 07:30] #156 closed

[2019-11-26 13:56] sumanthmattapalli opened #159 "Failed tests show very limited information"
Hi,

First of all thanks for such a great template. I want to suggest a small improvement to the template.

On total requests, In iteration view, we show a lot of information about each request but when it's on failed tests it just shows about the Assertions.

Is there any way can we show the same information about the request in failed test request as we are showing under Total test requests?

Th

[2019-11-26 14:21] DannyDainton commented on #159
Hey @sumanthmattapalli

Are you able to give me a visual example of what you mean, please?

[2019-11-27 00:38] sumanthmattapalli commented on #159
Thanks for you reply @DannyDainton .

When i click on Failed tests, it is redirect me the below image with just assertions.

<img width="1343" alt="Screenshot 2019-11-27 at 12 33 34 a m" src="https://user-images.githubusercontent.com/17916407/69683736-ca70d400-10ad-11ea-8584-8ab0f88f72b3.png">

When I go thru Total requests for the same request , I can detailed information like request and respons

[2019-11-27 01:08] DannyDainton commented on #159
I don't plan on putting those things together. Those are different contexts and the failed test would lead to the extra info on the single request side

[2019-11-28 08:52] DannyDainton commented on #159
The request details are already with the failures reasons in the main request view. I don't see a reason to duplicate all the information in 2 places.

This isn't something I'm going to be working on so I'm going to close this issue. If you want to have a go at doing and sent me a PR, I will be happy to take a look.

[2019-11-28 08:52] #159 closed

[2019-12-03 12:07] sodongit opened #160 "HTML report slow to open"
After creating a report, opening the html report page is VERY slow.
The page will load then hang for 7 seconds for just 1 iteration of a test
In chrome it is saying that

[code]

is the blocking script and after removing the lines the page returns to a normal loading time.

[2019-12-03 13:05] DannyDainton commented on #160
Hey @sodongit,

That issue is lacking any detail for me to really do anything about it - please ensure that you follow the headings in the issue template to provide the relevant information.

One of the main causes for slow loading would be the size of the report - It's a dynamically created HTML page so the bigger the Collection or the number of Iterations you have running will create a larger st

[2019-12-03 14:05] sodongit commented on #160
Hi Danny

Thanks for the quick reply.

Actually I found the cause of the slow page is the running of highlight.js. When I removed the method call for running it the page ran at an acceptable load time of < 300ms of a large run 272 total requests.

It is causing such a big delay because it needs to create a whole load of html just to highlight different colours in the Json response.
Can it be turne

[2019-12-04 10:41] SPKannan opened #161 "Not able to see all the request and response in the reporter"
**Describe The Problem**
Newman reporter is not showing the all the request and response.

**Steps To Reproduce**

1) Create Collection Folder in Postman
2) Add a request For it
3) Click on the (...) in collection Folder and Click On Edit
4) Click On test Tab and a Request Programmatically(use Pm.Sendrequest)
5) Run the Collection in newman

**Expected Report**
when i open the newman reporter i sh

[2019-12-04 11:57] DannyDainton commented on #161
Which version of the reporter are you using?

[2019-12-04 12:27] DannyDainton commented on #161
You mentioned using `pm.sendRequest()` - There is a known issue, open for a long time around using that function with the reporters. It impacts all the reporters, not solely this one.

https://github.com/postmanlabs/newman/issues/1303

[2019-12-04 13:47] DannyDainton commented on #160
I'll add it to the back log of things I need to do, just need more time.

You could just created a custom template in the meantime and remove what you don't need. That custom template can be then used with the reporter.

[2019-12-04 14:44] sodongit commented on #160
And time is what I wont be given to do a custom template which is why Im looking for one

[2019-12-04 14:50] DannyDainton commented on #160
You have the reporter code locally after installing it, in the `lib`
directory of the reporter you'll see the default handlerbars template used
by the reporter.

Copy that, remove the lines, use that as the new template using the `-
-reporter-htmlextra-template <path to template>`

That's literally the least amount of time needed for any of the solutions 😁

On Wed, 4 Dec 2019, 14:44 sodongit, <not

[2019-12-04 14:54] sodongit commented on #160
Thanks I hadnt really investigated how the templates worked.
I'll give it a go!

[2019-12-04 15:14] DannyDainton commented on #160
An even easier way would be just to grab it from here:

https://github.com/DannyDainton/newman-reporter-htmlextra/blob/master/lib/dashboard-template.hbs

[2019-12-06 16:50] DannyDainton commented on #161
@SPKannan Any updates from your side, you raised the issue and I need the extra information to be able to do something to help.

[2019-12-06 16:51] DannyDainton commented on #160
@sodongit Did you manage to create and use a template?

[2019-12-07 13:26] SPKannan commented on #161
Yes i would like to help you. Post your list.. will try to accommodate but guaranteed  with all the information

[2019-12-07 13:29] DannyDainton commented on #161
Read the other message regarding Newman and the `sendRequest()` - if that relates to your issue, there is nothing that I can do and I will be closing this issue.

[2019-12-07 13:35] SPKannan commented on #161
i just mentioned i'm i'm using  pm.sendRequest(Request1, function(err, res) {
}
Request1 = {
    url: pm.environment.get('URI'),
    method: "GET",
    header: {
        "Content-Type": "application/json",
        "Accept": "application/json",
        "Authorization": "Bearer " + pm.environment.get("api_Bearertoken")
    }
};

[2019-12-07 13:39] SPKannan commented on #161
+-- cheerio@1.0.0-rc.3
+-- newman@4.5.4
+-- newman-reporter-htmlextra@1.8.6
+-- newman-reporter-junitxray@1.0.2

[2019-12-07 13:41] DannyDainton commented on #161
This is a Newman issue, there is nothing I can do about this and it impacts every single reporter.

Closing issue.

[2019-12-07 13:41] #161 closed

[2019-12-12 07:28] DannyDainton commented on #160
Closing this issue for now, not currently working on this but I do plan to look at the size of the reports.

[2019-12-12 07:28] #160 closed

[2019-12-15 15:13] YevheniiRozstalnoy commented on #31
Hi! Did u solve this problem?

[2019-12-15 15:24] DannyDainton commented on #31
Hey @YevheniiRozstalnoy,

As all problems are not all the same, they _might_ look the same but generally there are other local environmental factors to consider.

Can you open up your own individual issue and provide the details about what's happening for you please?

[2019-12-15 15:38] YevheniiRozstalnoy commented on #31
Hey @DannyDainton ,
I try to install newman-reporter-htmlextra (npm install -g newman-reporter-htmlextra) but have those warning messages :
 npm WARN deprecated gulp-header@1.8.12: Removed event-stream from gulp-header
npm WARN newman-reporter-htmlextra@1.9.2 requires a peer of newman@>=4 but none is installed. You must install peer dependencies yourself.
what's thats coud be?

[2019-12-15 15:59] DannyDainton commented on #31
@YevheniiRozstalnoy,

I did ask you to open your own issue rather than comment on this one.

This particular _problem_ has been closed.

It's _just_ a warning coming from one of the dependencies that the module uses, I have no control over those and that would need to be handled by the person that created that module. The warning will not stop the reporter from working or creating a report.

If yo

[2019-12-23 10:42] 4nif opened #163 "Is it possible to show number of success, failed and skipped request instead of number of success, failed and skipped assertion?"
Hello @DannyDainton

Is it possible to show number of success, failed and skipped request instead of number of success, failed and skipped assertion?

Currently default template show number of tests/assertion

thanks

[2019-12-23 11:27] DannyDainton commented on #163
Can you give me an example of what that looks like, please?

What do you mean by a skipped request? How is that shown in the app?

The passed, failed and skipped all relate to the tests run within a request so that's why those are displayed in the summary table and in the individual requests.

[2019-12-24 06:24] 4nif commented on #163
Hi @DannyDainton  I have collection structure as follow

![image](https://user-images.githubusercontent.com/31293565/71388955-18391780-262d-11ea-8dd4-d759bca332dc.png)

After we run through newman command line, htmlextra generate report like below
![image](https://user-images.githubusercontent.com/31293565/71389593-91d20500-262f-11ea-9b4f-9642543bd44c.png)

So instead of show number of `Total Asse

[2019-12-24 07:57] DannyDainton commented on #163
If you have a request without any assertions (tests) - How do you know if that passed, failed or was skipped?

Not sure I follow you, where is the information coming from that drives that?

The summary table below that image will tell you the total number of requests and if a request went through ok or contained an some form of error. There is no notion of a skipped request, it either runs and is

[2019-12-29 11:38] DannyDainton commented on #163
Hey @4nif,

I would love to close this out, it's not really an issue with the reporter, more about the way the data from Newman is presented. The templates are completely customisable so that can be shown any way you would.

As the default template is a generic one, I'm not going to be changing it for your context/to solve your issue as its going to be very specific for you.

Those panels that you

[2019-12-29 11:38] #163 closed

[2020-01-06 20:30] angmas opened #165 "Option to format response to be pretty print xml with line breaks"
**Is your feature request related to a problem? Please describe.**
Hi, we've been using postman to verify soap services. The response is returned as linearized xml. It would be awesome if there were a way to include an option to format the response as pretty print xml with line breaks.

**Describe the solution you'd like**
Maybe add a -rxml option or something that can call out the formatting opti

[2020-01-07 06:45] DannyDainton commented on #165
Hey @angmas,

Would you be able to give me some environment details please? Which versions are you using?

Could you also attach a screenshot of what you're seeing and how you would like to see this look.

Cheers.

[2020-01-07 07:45] DannyDainton commented on #165
Formatting for XML responses was added to the reporter in veraion 1.8.7

https://github.com/DannyDainton/newman-reporter-htmlextra/pull/139

Are you using the latest version or do you require something different?

[2020-01-07 10:29] 4nif opened #166 "Dashboard mark as green when "NO TESTS FOR THIS REQUEST""
I have condition where postman unable to parsing json response in tests tab due to path or url response with 404, but dashboard show request with `green` colour on Total Requests tab.

It seems false positive because no test are running for that particular request due to
![image](https://user-images.githubusercontent.com/31293565/71888441-bcb17280-3172-11ea-88c2-e12f62186c1d.png)

I think its bett

[2020-01-07 10:33] DannyDainton commented on #166
I have a bug template where you can capture all the relevant details, under the heading provided so I can actually investigate the problem. Please use this when raising an issue.

[2020-01-07 10:42] DannyDainton commented on #166
A `Skipped Test` is a specific action done in the Postman UI using the `pm.test.skip` function. That action tells Newman that a particular test has been marked as `Skipped`. This is then reported out to the reporter.

What you're suggesting is something different and has nothing to do with the actual action of skipping a test.

In your scenario, there was nothing wrong with the request, so it's ma

[2020-01-07 19:32] MahatmaFatalError opened #167 "Combined html report for multiple postman collections"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when I run my approx. 100 postman collections in a sh script and get 100 corresponding html reports.

**Describe the solution you'd like**
Functionality to combine all newman runs into a single html report so that I have a clear overview, especially o

[2020-01-07 22:09] DannyDainton commented on #167
Hey @MahatmaFatalError

Thanks for raising this issue - Unfortunately, there is nothing I can actually do to help here. This isn't a specific reporter issue, it's a Postman/Newman functionality issue.

You would get the same result, no matter what reporter you use. It's a one Collection run at a time type thing in the app and with Newman so until that gets added, you're not going to get what you r

[2020-01-07 22:09] #167 closed

[2020-01-08 01:09] 4nif commented on #166
I got it. Thanks @DannyDainton

[2020-01-08 01:09] #166 closed

[2020-01-08 01:26] angmas commented on #165
My bad. I updated to the newest version and see that it is formatted. Great work!

[2020-01-08 01:26] #165 closed

[2020-01-26 10:54] DannyDainton opened #171 "Improve the deployment build pipeline with GH Actions"
The TravisCI builds are failing due to the deployment step when there are no new versions to deploy. This used to be handled by TravisCI but is now causing the build to fail.

All the projects tests are passing but because of the deployment step,  the jobs fails and shows a build error.

I need to set up a better build pipeline that only tries to publish a new package if there is a new version and

[2020-01-26 11:19] DannyDainton commented on #171
Added a new (and basic) GH Actions pipeline to the project - Will need to refactor this and look to include an NPM deployment into it soon.

[2020-02-01 15:31] wmedali opened #173 "[Performance] Generated report when multiple iterations are run"
When generating report with multiple iterations (+150) and each iteration contains multiple requests (+5) the report file become so large (like 30 Mb for the html). There is a performance issue.
When opening the file (more than one minute to completely charge) and  clicking in Total requests button takes approximately one minute to load. The timing may varry of course depending on number of iterat

[2020-02-01 15:51] DannyDainton commented on #173
Thanks for raising this @wmedali. Appreciate, issues that I'm aware of so that's a good thing :)

I created a bug for the UI issue before and moved into a project board with the intention of fixing it, never got round to it though :(

https://github.com/DannyDainton/newman-reporter-htmlextra/issues/17

Could you break this out into 2 separate issues please, one for the Performance and one for the

[2020-02-02 13:31] wmedali opened #174 "[UI/UX] Generated report when multiple iterations are run"
When generating report with multiple iterations (+150) and each iteration contains multiple requests (+5) the report file become so large (like 30 Mb for the html). Then the rendering of the iterations number **doesn't help to navigate between iterations and it's a not easy to know which iteration is clicked as it is not highlighted**

**Steps To Reproduce**

1. Run the collection Postman Echo wit

[2020-02-02 13:45] wmedali opened #175 "[enhancement] hide all headers without providing a list"
**Is your feature request related to a problem? Please describe.**
There are multiple options related to headers of requests/responses :
- skipHeaders : hide a list of headers in report
- skipSensitiveData : hide all headers and payloads of requests and responses
My problem is that I actually call many APIs in my collection and for each of them there is differents type of headers in requests and r

[2020-02-02 13:46] wmedali commented on #173
Here you are @DannyDainton can't wait to see the fixes. Thanks for the great work and nice ticket templates btw. So Inspiring

[2020-02-03 00:28] DannyDainton commented on #175
This is quite a simple change so I will get this done as soon as I can. I will probably end up having another argument like `omitHeaders` or something and if it's set to `true`, it will exclude them from the final report.

[2020-02-03 01:34] DannyDainton commented on #175
@wmedali I've pushed a new version (1.10.0) with this change in it, could you give this a go for me, please?

[2020-02-03 01:42] DannyDainton commented on #174
@wmedali Not tackled the rendering of all the tabs or the performance but I did try and make the selected tab more visible in the UI to at least make it a little easier to see which one is selected.

[2020-02-03 01:44] DannyDainton commented on #173
@wmedali I've made a quick change to the panels that render the 'big numbers', these should adjust in size if the assertions are more than 9999.

Still need to tackle that performance issue though :(

[2020-02-03 06:50] wmedali commented on #175
@DannyDainton the new parameter is working like a charm 👍

[2020-02-03 06:52] wmedali commented on #174
@DannyDainton I confirm, it is more visible now. I tested it for the default and dark theme templates.

[2020-02-03 06:53] #175 closed

[2020-02-03 10:25] DannyDainton commented on #174
@wmedali I've also added, to 1.10.1, a couple of buttons to expand and collapse all the requests. I think that's what you were asking for.

[2020-02-06 20:32] DannyDainton commented on #174
Hey @wmedali,

I've been messing about with the UI, not sure if I'm 100% happy yet but this is what I did.

Let me know what you think?

![Iterations](https://user-images.githubusercontent.com/17089546/73976178-a9cfc080-491f-11ea-9c10-d258040c0d40.gif)

[2020-02-08 10:26] wmedali commented on #174
Hey @DannyDainton
It is so cool what you did.
I suggest that you color the iterations with failed tests in red (in my daily usage of the report I always go to failed tests to get the iteration number and then go back and look for iteration then check the failed test .. so I think it's much easier if the iterations with failed tests could be found easily in the total requests view )
Big 👍 on the fi

[2020-02-08 10:33] DannyDainton commented on #174
I had a go at previously adding color, to the tabs, it was more of an experiment that I didn't end up saving so I will need to revisit that to see how I did it before.

The scroll is based on the width of the container and auto does that when it goes over 22 iterations.

I wanted something quick in there instead of the wall of numbers. Didn't spend more than 2 mins doing that so I need to take ano

[2020-02-08 10:34] DannyDainton commented on #174
This is how I had it before.

https://github.com/DannyDainton/newman-reporter-htmlextra/projects/1#card-18894857

[2020-02-09 09:04] wmedali commented on #174
that's exactly what I am proposing. can't wait to see it in my reports :)

[2020-02-09 11:50] DannyDainton commented on #174
I don't promise that you will see that in there soon. I will take a look when I get some more time 😁

[2020-02-09 12:43] wmedali commented on #174
That's not really urgent. Take your time and thanks again for your reactivity  🙏

[2020-02-10 13:47] DannyDainton commented on #174
Made an attempt to get this into the report again, not there but it won't be too long. :)

![Screenshot 2020-02-10 at 13 45 23](https://user-images.githubusercontent.com/17089546/74155016-ada75f80-4c0b-11ea-8e58-d82f2c3010cf.png)

[2020-02-10 17:35] DannyDainton commented on #174
@wmedali I think I'm nearly there now, what do you think?

![Iterations_Update](https://user-images.githubusercontent.com/17089546/74174287-924c4c80-4c2b-11ea-9786-920ca1209648.gif)

[2020-02-10 17:41] wmedali commented on #174
I think it's good. YOU ARE THERE
I remarked something @DannyDainton, that 4 buttons to Expand/Collapse are too much and make it complicated for a simple consulting the report. It might be changed to only two.
Expand folders, once clicked it changes to Collapse folders. Same thing for requests.
Stills the problem is maybe when user changes iteration what is the expected behavior 🤔
 It's just a sugg

[2020-02-10 18:33] DannyDainton commented on #174
Yeah I'll change the buttons, I didn't want 4 there anyway. You could also give it a go yourself and raise a PR 😁

The buttons will open all folders/requests, they are not for opening individual iterations.

[2020-02-10 18:56] Sathish787 opened #176 "Is it possible to capture all requests involved in particular request in HTML report"
In a Request, I have one pm.sendRequest in pre-request script section , main request and one pm.sendRequest in Test section in POSTMAN.

When I generated HTML report for this request, report displays info about last request executed from Test section instead of Main request.

It would be good if we capture all requests info. Could you try on this if possible.

My scenario is : Before creating a us

[2020-02-10 19:03] DannyDainton commented on #176
This is a known issue with Newman and not this reporter, I can only report on what is coming from there. Unfortunately, the same thing will happen with every reporter. 😢

I would encourage you to submit an issue on the Newman project about exposing the details of the `sendRequest()` functions.

[2020-02-10 19:03] #176 closed

[2020-02-10 20:29] wmedali commented on #174
I'd really would have liked to do that that but I'm hell of a newbie in node/js programming. promise I'll give it a try next days to clone the repo and miss a little bit with the reports ^_^

[2020-02-11 17:16] DannyDainton commented on #174
I've pushed the changes and you can see these in V1.11.0

I'm going to do the buttons in a different commit, I want to think about it a little more first.

[2020-02-11 20:21] DannyDainton commented on #160
Hey @sodongit - In the latest version I included a `noSyntaxHighlighting` flag. I haven't documented it anywhere but I thought let you know.

It's on by default so you would add the `--reporter-htmlextra-noSyntaxHightlighting` flag to the command if you're running it globally.

Would be cool if you could try it out.

[2020-02-12 09:49] wmedali commented on #174
Working like a charm 👍

[2020-02-12 09:49] #174 closed

[2020-02-12 10:02] DannyDainton commented on #173
Hey @wmedali,

In the latest version, I included a `noSyntaxHighlighting` flag which disables the Syntax Highlighting of request/response bodies, etc. I haven't documented it anywhere yet but I thought to let you know as it's been noted in the past to be something that impacts performance as it re-renders all the HTML as is a blocking action.

Syntax Highlighting is on by default so you would need

[2020-02-12 12:38] wmedali commented on #173
@DannyDainton I did a quick test for the highlighting, even with the parameter --reporter-htmlextra-noSyntaxHightlighting I still get the highlighting/pretyfying of requests/bodies.
Regarding the performance, I launched tests (282 iterations, 16 requests in each). I'll keep u updated once tests are run.

[2020-02-12 13:06] DannyDainton commented on #173
My bad - Looks like a typo:

`--reporter-htmlextra-noSyntaxHighlighting` not `--reporter-htmlextra-noSyntaxHightlighting`

[2020-02-12 13:37] wmedali commented on #173
Cool, it works with the good flag.
I launched my tests for 100 iteration to see. If it works I'll do it for 300 to see the limits.
 I'll keep you updated

[2020-02-12 13:42] DannyDainton commented on #173
Cool - It's not going to impact the size of the report created, the more you add to it the more it will grow in size.

This might make it slightly _quicker_ to open but with this, you lose the fancy syntax colours but the all-important information is still there.

[2020-02-12 14:50] wmedali commented on #173
hey @DannyDainton it's so good. nice work 👏
for me the performance is more important than the fancy syntax, at the end with the flag the consumer of the report can choose whatever wants.
I can close the ticket if you want. it's good for me

[2020-02-12 15:39] DannyDainton commented on #173
Awesome! I'm going to leave it open for now - I don't think this solves _all_ the performance issues so I will continue to look at it over the next couple of weeks.

Appreciate you testing this out for me 🏆

[2020-02-12 15:47] DannyDainton commented on #3
Hey @RuggeriLuca

In the latest reporter (v1.11.0) - I have changed the report to show the Pass/Fail colour on the iteration tabs. Hope this helps!

[2020-02-12 20:06] DannyDainton opened #177 "[Bug] Single folder collections do not show all the folders in multiple iteration runs"
**Describe The Problem**
Collections with a _single_ folder containing requests only show the folder in the first iteration. The requests in the other iteration are only seen when either the first folder is open or using the `Expand Folder` button.

The folder is also showing the incorrect amount of request, in this example, it should be 2 per folder.

**Screenshots and Gifs**
![single_folder_bug]

[2020-02-13 03:16] kenpulak opened #179 "Summary total assertions wrapping value when total assertions over 1000"
**Describe The Problem**
On the summary page, when the collection has over 1000 assertions the total assertion value is wrapping. I was unable to see how I can fix this locally since it appears the css is pulled from another site. Need to change the font-size from 6rem to 5.

**Steps To Reproduce**
Steps to reproduce the behaviour:

1. Run a collection with over 1000 successful assertions.

**What

[2020-02-13 06:58] DannyDainton commented on #179
Thanks for reporting that @kenpulak - I did recently change the behaviour of those boxes when using large numbers and thought I'd fixed it 🤔

I'll get that sorted ASAP.

[2020-02-13 07:59] DannyDainton commented on #179
Hey @kenpulak,

Totally my fault for not testing multiple scenarios when I adding my change 😢

I pushed a fix for this issue - can you install v1.11.2 and confirm, please?

[2020-02-13 11:31] kenpulak commented on #179
Wow, @DannyDainton thanks for the quick response. I installed 1.11.2 this morning and ran all of my collections that have over 1000 assertions. The all worked. Below are a couple of examples. Thanks again for the quick turnaround!

![image](https://user-images.githubusercontent.com/52513242/74430036-10764200-4e2a-11ea-99f1-5995d04dc427.png)

![image](https://user-images.githubusercontent.com/52513

[2020-02-13 11:31] #179 closed

[2020-02-13 12:13] DannyDainton commented on #179
@kenpulak You're welcome.

It was my mistake in the first place, added something and didn't test it correctly :( There _should_ be room for 1 million now :)

If you find anything else, please do raise an issue for it!! Thanks again!!

[2020-02-14 20:12] DannyDainton commented on #173
I'm going to close this one for now, the option is there to disable the syntax highlighting which has been proven to impact the performance of the larger reports and make them 'quicker' to open in the browser.

I will be trying to make different adjustments here and there to help with the overall performance but the size of the generated reports are nothing that I can really control, the more data

[2020-02-14 20:12] #173 closed

[2020-02-14 20:13] DannyDainton commented on #171
Added a first attempt to publish the package from the workflow that failed but I have a few more ideas about what I can tldo to make this better.

[2020-02-15 11:14] DannyDainton commented on #171
Added new workflow to publish the package.

[2020-02-15 11:14] #171 closed

[2020-02-17 18:23] DannyDainton opened #184 "Pass / Fail Indicator not showing the correct colour"
![Screenshot 2020-02-17 at 18 21 14](https://user-images.githubusercontent.com/17089546/74678299-8411a980-51b2-11ea-85ad-a281af68c327.png)

**Version and Platform Information:**
 - `newman-reporter-htmlextra` Package Version 1.12.0

[2020-02-17 18:50] DannyDainton commented on #184
Fix added to 1.12.1

[2020-02-18 14:30] #184 closed

[2020-02-18 14:36] DannyDainton opened #185 "[Bug] Elements on the template 'flicker' when reloading the page"
![Template_Flicking](https://user-images.githubusercontent.com/17089546/74745467-da86f280-525b-11ea-9ee0-47b41be387cf.gif)

**Version and Platform Information:**
 - `newman-reporter-htmlextra` Package Version 1.12.1

[2020-02-26 16:17] ThePlenkov opened #186 "Why undefined-* name is used by default?"
Hi!

It's not like bug or feature. I just wanted to ask why undefined is used a default file name? Do you have any parameter for it? Thank you!

![image](https://user-images.githubusercontent.com/6381507/75364324-d8581000-58bb-11ea-9979-0b1d7f530577.png)

Thank you!

[2020-02-26 16:35] DannyDainton commented on #186
Hey @ThePlenkov,

That's interesting, that would create that file if you don't specify an export location. It shouldn't be undefined though...that's strange.

Could you give me some more information about the `Newman` and `htmlextra` version's you're using, please?

You can use `--reporter-htmlextra-export <filepath/filename.html>` in the command to create the report in the non-default location.

[2020-02-26 21:12] ThePlenkov commented on #186
Now it explains)) I generate the collection myself with my module on top of SDK. https://github.com/ThePlenkov/newman-collection I might didn’t pass some name in the info I guess . Thanks

[2020-02-26 21:22] DannyDainton commented on #186
Ah right, I will be adding something in place as a fallback though, this has the potential to happen again 😁

[2020-02-26 22:03] #186 closed

[2020-03-12 09:12] Pradeep07-max opened #187 "newman-reporter-htmlextra is not generate html file"
**Describe The Problem**
Newman generates the file with the size of  ZERO ,instead of html  extension.

**Steps To Reproduce**
Steps to reproduce the behaviour:
 -Run the CLI  >> newman run RegisterCompany.json -d companyjsonforregistration.json -n 16 -e MyWorkspace.postman_globals.json -r htmlextra --reporter-htmlextra-title "Registration Company API Test Reoprt"

**What Are You Seeing**

-its ge

[2020-03-12 09:29] DannyDainton commented on #187
Could you tell me the Collection Name, please? Does it save the file in the `/newman` directory?

Could you also update the Newman version that you have, please.

[2020-03-12 11:09] Pradeep07-max commented on #187
@DannyDainton this is my collection "RegisterCompany.json".
yes my file save in the /newman directory
![image](https://user-images.githubusercontent.com/62075895/76515598-db3c2e80-647f-11ea-8c9b-ae44ff08baa2.png)

 *Title flag is not working*

[2020-03-12 11:21] DannyDainton commented on #187
The `title` would be shown on the front _summary_ page of the final report so you wouldn't see that in the filename.

So in the Postman UI - Your collection is called "Working with data files"? Is this from a template?

What should be happening, is Newman would run the collection and the reporter would create a default filename in the format like this `Postman Echo-2020-03-11-13-51-59-266-0.html`.

[2020-03-12 11:46] Pradeep07-max commented on #187
@DannyDainton ,
 i update the newman version.
yes Postman UI  also showing same name [ RegisterCompany.json ]

 cmd >> newman run RegisterCompany.json -r cli,htmlextra
 - still getting same error.

[2020-03-12 11:58] Pradeep07-max commented on #187
@DannyDainton ,

- my collection name is RegisterCompany.json.
- if check the json file its shows an "name": "Working with data files: ramen",  its  default value.this is the issue i thought.

  *Now its working

i have want to use custom filename with tile in same CGI . is it possible .

*Thanks*

[2020-03-12 11:59] DannyDainton commented on #187
So your Collection in Postman, on the sidebar of the application is called `RegisterCompany.json` - As the default filename picks up the name of the collection from the UI and not the file you're using, I think you're mistaken.

What error? Are there any error messages? Did you see the cli output for your collection run in the command prompt?

I can't see what you have in front of you so you eithe

[2020-03-12 12:01] Pradeep07-max commented on #187
![image](https://user-images.githubusercontent.com/62075895/76519614-548b4f80-6487-11ea-9774-40efc125bbc3.png)

[2020-03-12 12:04] DannyDainton commented on #187
So it works now?

[2020-03-12 12:07] Pradeep07-max commented on #187
Thanks again @DannyDainton  for your support.  i have want to use custom filename with tile in same CGI . is it possible .

[2020-03-12 12:09] DannyDainton commented on #187
I don't know what CGI means.

You can use multiple flags in the command - just add the `--reporter-htmlextra-export <filename.html>` to the command you have.

[2020-03-12 12:17] Pradeep07-max commented on #187
this CLI is not working.

[2020-03-12 12:23] DannyDainton commented on #187
I can't help you if you tell me something isn't working and provide no further information.

What ever the command is you have just used - It's not the same as the one I posted. You have proved that the report works, remove the CLI from the list of reporters.

[2020-03-12 12:33] #187 closed

[2020-03-24 15:10] ggpai opened #189 "SUMMARY ITEM as per folder in Postman"
**Is your feature request related to a problem? Please describe.**
As of now when we get report, SUMMARY ITEM section contains overall Summary. Is that possible to get detail summary as per folder structure?

**Describe the solution you'd like**
 Is that possible to get detail summary as per folder structure? We are running collection with multiple folders in it. would like to know data w.r.t fold

[2020-03-24 15:45] DannyDainton commented on #189
Hey @ggpai,

Could you give me an example of what you feel that might look like?

You're also able to use Custom Templates with the reporter so if the data is there from the Newman object, you could show anything you like :)

[2020-03-24 15:56] raygao commented on #14
--reporter-htmlextra-export ./newman/myReport.html flag does not work. It will create a new file with a new time-stamp each time the script is ran. It would be nice to be specify a file. So, I can automate some activities.

[2020-03-24 16:07] raygao commented on #14
must have following format to save the file.
/usr/bin/newman run test.json -e environment.json --reporters cli,htmlextra --reporter-htmlextra-export results/output.html

[2020-03-24 16:49] ggpai commented on #189
![image](https://user-images.githubusercontent.com/35941785/77453374-6be60900-6db4-11ea-8bbf-11fdcf3cdf52.png)

We have collection divided in folders.Is that possible to get details in below table?

![image](https://user-images.githubusercontent.com/35941785/77453548-a2bc1f00-6db4-11ea-95b9-596a9b42ee56.png)

[2020-03-24 17:12] DannyDainton commented on #189
It's not something that I'm planning to look at or into as I want to default template to be as generic as possible.

The details you see on the Summary are coming straight from the Newman Object as will always be the overall summary for the Collection. An example of that can be seen below:

[code]

The Total Requests view shows the details of the folders - That's created when looping through the d

[2020-03-24 17:21] DannyDainton commented on #14
@raygao

This doesn't really mean anything to anyone:

It more than likely didn't work because you didn't have a `/newman` directory created at that level for the file to be exported too. It would have fallen back to the default export location, which would be in the form of `collection_name_timestamp._0.html` in the newly created `/newman` directory, in the same place the command was executed.

T

[2020-03-25 06:59] DannyDainton commented on #189
I'm going to close this as it's not something that I'm going to be doing and can be achieved (kind of) with a custom template. It's just finding the right details to aggregate from the folder level, they don't come through like the overall summary details so some level of logic will need to be added to expose that in the final report.

[2020-03-25 06:59] #189 closed

[2020-03-30 11:06] gstrantor opened #190 "Show the console logs as a single non collapsing section"
When I am viewing the console logs, each line cones as a separate collapsed section.
This make it tedious to go over all the logs. Therefore requesting that the logs appear as a single section with all log entries visible.

[2020-03-30 11:28] DannyDainton commented on #190
Hey,

Pull Requests are welcome if you want to have a go at tackling this issue you're facing 😁

[2020-04-02 07:31] dami3nC opened #191 "Add handlebars-helpers to count the number of folders, especially folders with failed tests"
At first I would to thanks you for your project. I love work with it.

**Is your feature request related to a problem? Please describe.**
When I made postman collection I organize my tests into folders, but I can't have this indicators in my html report.

**Describe the solution you'd like**
I want to add an handlebars helper to have the number of folders with failed tests
If you want I can make a

[2020-04-02 11:38] DannyDainton commented on #191
Hey @dami3nC,

Would you be able to update the request with a before and after screenshot please, mask any sensitive data. It will just give me more context into what you're trying to do.

The helper can be added but I don't think I'll be updating any of the generic templates so you would need to use a custom template but it sounds like you're already doing that on your fork. :)

[2020-04-03 07:13] dami3nC commented on #191
Hello @DannyDainton,

Thanks for your quickly comment, effectively I don't need any update in the generic template, I made my custom one.

**For more context:**
- Screenshot for total requests
<img width="420" alt="total" src="https://user-images.githubusercontent.com/18484511/78333586-62b22480-758a-11ea-86aa-6986f73f8159.png">
- Screenshot for test information (failed one)
<img width="384" alt="t

[2020-04-03 07:31] DannyDainton commented on #191
Looks cool - so you're displaying the number of tests rather than the number of assertions?

If you don't mind sharing the custom template, I would love to see what's going on 😁

I'll add the helper in, as soon as I get some time. I did try it out locally and it looked good to me but I need to have another look before pushed forward.

[2020-04-03 07:57] dami3nC commented on #191
Yes, it's what I need, because for functional view, the number of assertions is not most important things, you want to know, how many features are ok.

I haven't finished yet to customize the template, but I can share it with you.
Do you want I join my draft in this comment?

[2020-04-03 09:18] DannyDainton commented on #191
Yeah, it would be great to see how you're getting on so far. I love that you've created a custom template and using that for your context. The generic template are simply a way to allow folks to create reports out of the box and they really won't cover every single context and that's where having the ability to create and use your own comes in.

The underlying data from Newman is always going to b

[2020-04-03 09:27] dami3nC commented on #191
I join my draft custom template.
[html.zip](https://github.com/DannyDainton/newman-reporter-htmlextra/files/4426127/html.zip)

To use it I add this 2 helpers:
[code]
It isn't needed to add the first one, I can use directly {{aggregations.length}} in my custom template.

[2020-04-03 15:03] DannyDainton commented on #191
I'm finding it quite difficult to understand what you're doing in the template.

Are `Tests` in this context `Requests`?

![Screenshot 2020-04-03 at 15 56 10](https://user-images.githubusercontent.com/17089546/78374715-d290d100-75c3-11ea-8ecb-781db051ef47.png)

I have a basic collection which has 2 requests, these are not in a folder. Each request has 3 tests and all of these failed because the St

[2020-04-07 09:54] hakand opened #192 "Case-insensitive header skip"
Hello,
Since HTTP headers are case-insensitive [(HTTP RFC)](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2), I believe `skipHeaders` feature should work in the same fashion. Current feature is case-sensitive.

[2020-04-07 10:16] DannyDainton commented on #192
Hey @hakand,

Could you provide an example of where this is failing for you or has been causing you a problem please?

[2020-04-07 10:30] hakand commented on #192
Hey @DannyDainton,

I might have 2 requests in a collection each has an `authorization` header. However, let's say in one of them it is `authorization`, and in the other one it is `Authorization`. Those are treated as different headers when it comes to `skipHeaders` feature, because of the case-sensitivity.

[2020-04-07 10:58] DannyDainton commented on #192
That's fair but are you looking to solve the inconsistencies in the requests, with an output report though?

If you wanted to get a PR together for this, I would be happy to have a look at it. It's either that or I'll be getting to this when I had some time. :)

[2020-04-07 13:53] DannyDainton commented on #192
Added this to v1.13.0

[2020-04-07 13:53] DannyDainton commented on #191
I've added the helpers to v1.13.0

[2020-04-07 13:53] #191 closed

[2020-04-07 13:55] DannyDainton commented on #190
This is a change that can be made in a custom template locally so I'm not going to be adding this at the moment, I will open up the issue again if I get round to tidying that up.

[2020-04-07 13:55] #190 closed

[2020-04-08 00:59] mhudson opened #193 "list.map is not a function in 1.13.0"
**Describe The Problem**
 Crash running Newman. Change on 7th April broke this

**Steps To Reproduce**
Running within Jenkins pipeline
[code]

**What Are You Seeing**
[code]

**Version and Platform Information:**
 - `newman` Version 4.6.1
 - `newman-reporter-htmlextra` Package Version 1.13.0
 - Linux in Docker.

**Additional Context**
Add any other context about the problem not mentioned, the more

[2020-04-08 05:54] DannyDainton commented on #193
Hey @mhudson,

Thanks for reporting this, I will get on it straight away. I think I can see what the problem is.

Are you able to downgrade to the previous version in the meantime?

Apologies, totally my fault for rushing something out. 😢

[2020-04-08 06:04] DannyDainton commented on #193
@mhudson Can you confirm which version of node you have running please?

[2020-04-08 07:30] DannyDainton commented on #193
@mhudson I've reverted the change that caused this to break and added tests (That were missing :( ) If you updated the package, you should have this working again.

Apologies again for the inconvenience :(

[2020-04-08 07:32] DannyDainton commented on #192
Reopening this as the version I pushed wasn't tested enough and a blocking bug fell out of it - I will add this back in very soon.

Added tests to alert me of any issues with this in the future.

[2020-04-08 12:32] #193 closed

[2020-04-08 12:33] DannyDainton commented on #192
Fix and Tests added to v1.13.2.

[2020-04-08 12:33] #192 closed

[2020-04-08 14:52] DannyDainton commented on #193
I've added the functionality back into v1.13.2 - Backed up with tests for a few different scenarios which would have caught the original issue :(

Appreciate you raising this!! 🏆

[2020-04-08 19:49] mhudson commented on #193
Thank you for the prompt response and resolution @DannyDainton!
We use Node 12.16.1 LTS and did revert to previous version to unblock us which works beautifully. We'll bump the version on our next iteration. Thank you for maintaining this package that is an integral part of our CI pipeline. Cheers from home iso in Sydney, Aus.

[2020-04-08 19:56] DannyDainton commented on #193
You're welcome. I saw the error and replicated it straight away 😢 it was a silly mistake and wouldn't have happened if I tested it properly.

Give me a shout if it's not doing what you're expecting and I'll take a look.

Thank you for using the package, makes it all worth while!!

I have extremely fond memories of my working holiday in Sydney in 2012 and travelling up and down the coast. Beautiful

[2020-04-08 20:10] mhudson commented on #193
Proper testing - we've all been there! The irony is that's exactly what
Newman is doing for us and you'll be pleased to know we're about to
expand our Postman cloud subscription too!
I maintain an OSS package for the Australian Surf Life Saving organisation
and appreciate that a little bit of love back from the otherwise silent
consumers goes a long way!
Keep it up mate and stay safe!

On Thu, 9 A

[2020-04-09 16:08] dami3nC commented on #191
Thanks you so much for this integration. For I now I don't have enough time to finish the customisation of the report. I'll send you as soon as I finish this, with postman collection for use it.

[2020-04-21 16:35] DannyDainton commented on #190
@gstrantor The log message should now be part of the main request view. Update to v1.14.0 to see this.

[2020-04-21 16:36] DannyDainton commented on #152
@Kriz1881 The logs should now be part of the requests, with the new release.

[2020-04-22 08:17] Kriz1881 commented on #152
@DannyDainton I just checked, the logs are looking great!
Thank you and keep up the good work :)

[2020-04-22 14:15] cool-kostian commented on #14
Hey @DannyDainton

Thanks for NEWMAN. My team is excited with it.

is there any way to have a custom unique name for each report without overwrite? for example:
`path/reporter/CUSTOM_NAME+{{timestamp}}.html"`

[2020-04-22 14:29] DannyDainton commented on #14
Using the `--reporter-htmlextra-export` would allow you to call it whatever you like.

If you running it from a script it's going to be easier to add the desired name as the final exported report name. From the Command line, it's slightly trickier but not impossible.

What have you tried so far and what's not working?

[2020-04-22 14:40] cool-kostian commented on #14
@DannyDainton  Thanks for the quick reply.

I'm using 'Newman' with 'htmlextra' reporter in Jenkins and my team want to have a custom name for reporting like: `--reporter-htmlextra-export "path/NAMEofCOLLECTION+Environmane+Timestamp.html"` with a purpose to easily navigate to the exact report (where the difference will be "Environment + Timestamp" only)

[2020-04-22 14:51] DannyDainton commented on #14
Whatever you add there is completely controlled by you and doesn't really have anything to do with the reporter. That gives you the ability to add the name you want rather than the default name from the reporter.

I'm sure that the name can include those things if you add them dynamic variables in the script you're running in Jenkins. You could create variables for the different elements of the co

[2020-04-29 14:41] pingwin4ik opened #199 "Strange style with default dashboard"
**Describe The Problem**
Strange style with default dashboard in Jenkins!

**Screenshots and Gifs**
![image](https://user-images.githubusercontent.com/25619978/80609162-75f8c880-8a40-11ea-94d0-7f47c554b6df.png)

**Version and Platform Information:**
pstauffer/newman-htmlextra:latest

[2020-04-29 14:58] DannyDainton commented on #199
Hey @pingwin4ik,

I believe this is a Jenkins configuration issue rather than an issue with the reporter. I've seen similar people report similar things in the past, I would need to check through the issue to see how this was resolved.

[2020-04-29 16:22] DannyDainton commented on #199
@pingwin4ik This was the issue I was talking about - Are you able to take a look through the thread and see if that works for you too.

https://github.com/DannyDainton/newman-reporter-htmlextra/issues/45

[2020-05-01 05:58] DannyDainton commented on #199
@pingwin4ik Did this solve the issue for you?

[2020-05-01 09:04] pingwin4ik commented on #199
not yet checked
If we make the CSP changes it can perhaps crash our Jenkins

[2020-05-01 09:28] DannyDainton commented on #199
I'm going to close this issue as it doesn't really have anything to do with the functionality of the reporter.

[2020-05-01 09:28] #199 closed

[2020-05-04 19:50] bhaskarnimma opened #205 "browserTitle&title - not taking dynamic values when run in a loop with multiple collections"
**Describe The Problem**

I am running multiple collections in a loop and generating the reports into multiple files. Report file names are working correctly. But the title and browser title is taken from the last element of the array.

**Configuration**

[code]

**What Are You Seeing**

When running with multiple collections in a loop, the report title is taken from the last element of the array.

[2020-05-05 08:42] #177 closed

[2020-05-05 11:15] DannyDainton commented on #205
Hey @bhaskarnimma,

Let me take a look and see what's going on there. Looking at your script, it looks like it has a few issues with the `${collection[i]}` references to get the collection and to create the report.

I think it should be like this:

let collections = ["collection_1", "collection_2"];

[code]

I can report the issue you're facing but I need to figure out why it's creating the report

[2020-05-05 11:37] DannyDainton commented on #205
There's a couple of helpers that decide what goes in there based on the options given, I added a log statement to see what it populates at runtime:

![Screenshot 2020-05-05 at 12 33 29](https://user-images.githubusercontent.com/17089546/81061675-af13bb80-8ecc-11ea-8632-a4c46df6e3ae.png)

As you can see, that part of the script is looping through that first and for some reason picking the last item

[2020-05-05 18:24] DannyDainton commented on #205
@bhaskarnimma  Fixed the issue locally, when I get time tomorrow I will push the changes :)

![Screenshot 2020-05-05 at 19 22 57](https://user-images.githubusercontent.com/17089546/81101345-e3579e00-8f05-11ea-9142-e4d912e707e9.png)

[2020-05-06 08:50] #205 closed

[2020-05-06 08:54] DannyDainton commented on #205
@bhaskarnimma If you update to the new version, this should be working now - Let me know if it's not. :)

[2020-05-06 16:50] bhaskarnimma commented on #205
Hi @DannyDainton, I tested the fix with latest version (1.15.0) and it is working as expected. Thank you so much for quick turn around.

[2020-05-06 17:05] DannyDainton commented on #205
Awesome! Thanks for reporting that and glad to hear it's working for you now. 🏆

[2020-05-06 18:31] PeterSulcs opened #210 "Hide Response for specific named request"
**Is your feature request related to a problem? Please describe.**
I have a postman collection of requests, the first request gets a bearer token which comes back in the response body and is saved to the environment for later API requests. I want to show the request and response for every request **except** this one since the bearer token is sensitive.

**Describe the solution you'd like**
`newman

[2020-05-06 18:40] DannyDainton commented on #210
The non-answer was from me 😁 - we had a chat via direct message but there wasn't really a solution.

I've played around with trying to hide specific responses and various levels of success. Might need to revisit that again.

I'm accepting PRs so if you have a proposed coded solution you can send it over 😁

[2020-05-06 18:47] DannyDainton commented on #210
When you say `test`, you mean request right?

The `test` wouldn't have a response body, it would have a pass, skipped or failed state.

[2020-05-06 19:26] PeterSulcs commented on #210
Yeah, I meant `request`. The way my collection is arranged it is one to one `request` to `test` but realize that isn't the correct nomenclature. Thanks for the prompt response, as far as making a PR, I'll take a look this weekend.

I think I can probably hide the call to get the token in a Pre-request script, so I'll plan to do that as an immediate workaround.

[2020-05-07 08:51] DannyDainton commented on #210
@PeterSulcs - I've found that I can hide a specific folder(s) or hide _all_ the response bodies but not a specific one....yet.

I just need to clear some time and think about it a bit more - I'm sure there is an easy way to do it but I can't get my head around it just yet. 😢

I'm on the case though - I did want to add more flexibility for doing things like this in the reporter but I didn't plan on

[2020-05-07 15:50] #210 closed

[2020-05-07 15:52] DannyDainton commented on #210
Hey @PeterSulcs,

I've added in a new flag `--reporter-htmlextra-hideResponse` that should hopefully help you to hide that response.

`newman run postman_collection.json -e postman_environment.json --reporters cli,htmlextra --reporter-htmlextra-export ./newman/roundtrip/index.html --reporter-htmlextra-omitHeaders --reporter-htmlextra-hideResponse "OAuth2 login"`

Let me know if that works 😄

[2020-05-07 16:15] PeterSulcs commented on #210
Wow! I will test this out. Thank you!

[2020-05-07 16:22] DannyDainton commented on #210
You're welcome 😁

On Thu, 7 May 2020, 17:15 Peter Sulcs, <notifications@github.com> wrote:

[2020-05-11 14:49] #185 closed

[2020-05-17 18:59] DannyDainton opened #224 "[Feature Request] Having the ability to mask any value in a response body"
Being able to specify a certain key, by a CLI flag that you give you the ability to mask it's value in the final report.

Something like this example in the App but from within the reporter:

https://github.com/DannyDainton/newman-reporter-htmlextra/pull/222#issuecomment-629758343
[code]
<img width="1662" alt="82138888-be273180-981b-11ea-90ae-6bc7904aa7af" src="https://user-images.githubuserconten

[2020-05-19 12:57] karlOS123testing opened #225 "[Feature Request] Display variables on the final report when adding these via the CLI"
I want to display in the report environment variables when I use the command:
 `newman run myCollection.json --env-var "var1=MyTest"`

**Describe the solution you'd like**
Variables should display in the "FILE INFORMATION" section as when we use a file with ENV variables:
`newman run myCollection.json -e myEnv.json`

[2020-05-19 13:10] DannyDainton commented on #225
Hey @karlOS123testing,

Thanks for submitting this request, can you give me a little more information about your use case here?

How do you envisage this being displayed on the final report?

We need to be careful here because some users will use the `--env-var` flag to add variables that they don't want to store in the environments, like secrets for example. If you wanted to have a go and try to

[2020-05-19 13:47] DannyDainton commented on #225
This _can_ be done. I quickly had a look at this with a combination of adding an environment file with `-e file.json` and `--env-var` from the command line.

<img width="1249" alt="Screenshot 2020-05-19 at 14 44 51" src="https://user-images.githubusercontent.com/17089546/82334200-908ae580-99df-11ea-9513-b8f9997cec83.png">

[2020-05-19 18:14] DannyDainton commented on #225
I've basically done this locally and also added the ability to `hide` any variables that you don't want in the final report.

I'm still trying to tweak the design a little bit so it's not a huge change the to UI and maybe something that's hidden until folks want to see it.

I'll have a look tomorrow and add some tests etc before pushing forward.

[2020-05-20 08:54] DannyDainton commented on #225
I think I'm going to settle on this for now and then change if anyone else has feedback, I can change it.

Users will also be able to use `--reporter-htmlextra-skipEnvironmentVars var1,var2` to hide the variable(s) from the final report.

![Environment_Values](https://user-images.githubusercontent.com/17089546/82426183-71dc2b80-9a7f-11ea-9c2a-fe27bc33b9bf.gif)

[2020-05-20 12:15] #225 closed

[2020-06-03 04:01] provsateeshayyagari opened #232 "Request for creating "--reporter-htmlextra-hideRequest" CLI option"
**Is your feature request related to a problem? Please describe.**
We currently have the below flag
--reporter-htmlextra-hideResponse | An optional flag which allows you to exclude certain Response Bodies from the final report
-- | --
It would be nice if we have a request flag as well.  There could be a lot of confidential information that may be in the request that we may not want to see in the r

[2020-06-03 09:18] DannyDainton commented on #232
Hey @provsateeshayyagari

Thanks for submitting this request, I'm a little busy at the moment and probably won't get to this soon. If you would like to give it a go yourself in the meantime - PRs are always welcome! 😄

[2020-06-04 17:23] DannyDainton commented on #232
I don't like to leave people waiting 😁

I had a quick look at it but it wasnt quite doing what I wanted it too but I'll circle back when I have more time.

[2020-06-09 00:31] vdespa opened #233 "[Feature Request] Render links from the test title or assertion"
**Is your feature request related to a problem? Please describe.**
For failing tests, it would be nice to link an existing bug report (URL).

**Describe the solution you'd like**
The possibility of rendering links in the report:

[code]

**Additional context**

The link is not clickable.
![image](https://user-images.githubusercontent.com/1197635/84092982-38c81480-a9b6-11ea-9a32-0ce4ea0f1d8d.png)

[2020-06-09 06:57] DannyDainton commented on #233
Hey @vdespa,
That's a great suggestion and I'm sure it would be useful for lots of folks. On the face of it, I think it would be easy to do as I already use remarkable to render the Markdown from Collections and Request descriptions.

The Markdown in the test failures would look like this in the report:

![Screenshot 2020-06-09 at 07 30 59](https://user-images.githubusercontent.com/17089546/841156

[2020-06-09 10:28] DannyDainton commented on #233
I've created a new version and added a `--reporter-htmlextra-showMarkdownLinks` that will render the URLs added to the test names or in the `pm.expect()` statements.

![Screenshot 2020-06-09 at 09 45 31](https://user-images.githubusercontent.com/17089546/84137027-0238db00-aa44-11ea-878d-0087bd554286.png)

Let me know if that's what you're after. :)

[2020-06-10 01:38] vdespa commented on #233
Looks fantastic, @DannyDainton
Yes, not making that default may be a good idea, at least in the beginning.

[2020-06-10 04:51] DannyDainton commented on #233
I'm going to close this one now by let me know if you get any issues. 😁

[2020-06-10 04:51] #233 closed

[2020-06-24 10:12] BubuFS opened #235 "[Feature Request] Add Expand-all button to the Failed-tests and Skipped-tests panes"
Add Expand-all button to the Failed-tests and Skipped-tests panes, to expand everything on the pane at once. Similar to what is on the Total-requests pane, top-right. And thanks, luv this tool!

[2020-06-24 11:19] DannyDainton commented on #235
Hey @BubuFS,

I had been meaning to do this for a while but no one asked so I let it fall down in the list of things to do....but now you have asked.... :D

How about this...

![Expand_All_The_Things](https://user-images.githubusercontent.com/17089546/85546475-d6595000-b614-11ea-8819-f85ce617c670.gif)

[2020-06-24 12:49] #235 closed

[2020-06-24 12:50] DannyDainton commented on #235
Added the changes to the v1.16.1 version, let me know if that's what you mean 😄

[2020-06-24 18:41] cmwaura opened #237 "[Feature Request] Would it be possible to have a docker file for this"
**Is your feature request related to a problem? Please describe.**
Having a dockerfile will literally less ramp up time for a developer to test this product and pitch it to the team.

**Describe the solution you'd like**
A dockerfile that i can build and run locally

**Describe alternatives you've considered**
the current build process. Just dont like building it with npm.

[2020-06-24 19:35] DannyDainton commented on #237
Hey @cmwaura,

I purposely didn't create one after seeing that @pstauffer had already made this one:

https://github.com/pstauffer/docker-newman-htmlextra

Would this work for you?

[2020-06-25 08:56] DannyDainton commented on #237
I've also created a docker image - https://hub.docker.com/repository/docker/dannydainton/htmlextra

Let me know if this helps.

[2020-06-25 11:32] DannyDainton commented on #237
Closing this and the Docker image has been created and published.

[2020-06-25 11:32] #237 closed

[2020-06-25 16:30] svarshney2311 opened #238 "[Question] How can I run Newman from the command line?"
Good day.
I am new to run Newman.
COuld you please tell the steps to execute below command:
like if this code has to update anywhere than run command line or ??

[code]

I have this code but don't know what to do next?

[2020-06-25 16:36] DannyDainton commented on #238
Hey @svarshney2311 ,

This isn't the repo for Newman, that would be https://github.com/postmanlabs/newman

I'm not sure what you're trying to do - Are you just trying to run a Postman collection with Newman from the CLI?

- https://github.com/postmanlabs/newman#getting-started

Once you have installed Newman on your machine, the command would be something like this:

`newman run https://www.getpos

[2020-06-25 16:41] svarshney2311 commented on #238
Could you please share the **steps** to execute Newman as Library in a Nodejs script.

const newman = require('newman'); // require newman in your project

// call newman.run to pass options object and wait for callback
newman.run({
collection: require('./sample-collection.json'),
reporters: 'cli'
}, function (err) {
if (err) { throw err; }
console.log('collection run complete!');
});

[2020-06-25 16:56] DannyDainton commented on #238
Something like that I just:

- Create a new dir
- `cd` to the new dir
- Run `npm init`
- Install Newman using `npm i -S newman`
- Create a new js file and add that script
- Run the js file using `node <filename>.js`

[2020-06-25 16:58] DannyDainton commented on #238
This isn't really a specific question about the htmlextra reporter, more of a general how do a create a node project.

I'm going to close this issue.

[2020-06-25 16:58] #238 closed

[2020-06-26 13:36] fg78nc opened #239 "Ability to set the time zone that is used in report filenames."
**Is your feature request related to a problem? Please describe.**
Whenever I generate a report, the filename of the report contains the time that is different from my actual run time and time that is specified within the report itself.

**Describe the solution you'd like**
Ability to define your time zone or otherwise have a consist time between time portion in a file name and within the report i

[2020-06-26 14:01] DannyDainton commented on #239
Hey @fg78nc

This is something that has been mentioned before so I probably need to rethink my usage of the `helper-moment` module for that. I was only really using it so I could change the format of the time.

It's used in the template like this:

`<h5 class="text-center">{{moment date format="dddd, DD MMMM YYYY HH:mm:ss"}}</h5>`

You could change it to use the time coming from Newman instead:

<

[2020-06-26 17:26] DannyDainton commented on #239
I've been exploring and expirementing with `moment-timezone` and I have something working that I might publish tomorrow and gauge the reaction.

[2020-06-27 06:30] DannyDainton commented on #239
I've reread what your issue is again and I'm thinking about something different 😞 - The report display time does need to change so at least I've done that too 😄

That time for the default filename comes from Newman, my reporter appends the Collection name to it but I don't set the timestamp.

Depending on how you're running the Newman command, you could use the the `--reporter-htmlextra-export` fl

[2020-06-28 08:51] DannyDainton commented on #239
I'm going to close this issue as the only real solution that I can offer is using the `export` flag and creating a filename with the time included.

I've published a new version of the reporter that should match TZs in the time inside the report now but if not, you can specify a location using the `timezone` flag and the string that is recognised by the `moment-timezone` module.

[2020-06-28 08:51] #239 closed

[2020-06-29 14:43] Kriz1881 opened #241 "Wrong request tests count when using pm.sendRequest"
**Describe The Problem**
When using pm.sendRequest, the test count in "Total Requests">request>"TEST INFORMATION" is doubled (same test is displayed with count 2).

The "TOTAL ASSERTIONS" and the "TOTAL FAILED TESTS" on the Summary page are displayed as expected, but the "Prerequest Scripts" and the "Test Scripts" have wrong count.

**Steps To Reproduce**
1. Add additional request to the (for exam

[2020-06-29 14:53] DannyDainton commented on #241
Hey @Kriz1881

Thank you for the detailed bug report. Unfortunately, this is an open issue with [Newman](https://github.com/postmanlabs/newman-reporter-html/issues/180) rather than the downstream reporters.

It's been raised on this report a few times now:

- https://github.com/DannyDainton/newman-reporter-htmlextra/issues/147
- https://github.com/DannyDainton/newman-reporter-htmlextra/issues/161

[2020-06-29 15:37] Kriz1881 commented on #241
Thank you @DannyDainton, I`ll start watching the issues you linked :)

[2020-06-29 16:15] DannyDainton commented on #241
I'm trying to see what I can do with the data that's coming through already but it would be a hack and I don't feel good about it 😬

[2020-06-29 22:23] vhrsh opened #242 "Option to record request and response body only for fail cases"
**Is your feature request related to a problem? Please describe.**
I run a collection which has around 10k test cases. A HTMLExtra Report for this would be a huge size and would not be possible and feasible

**Describe the solution you'd like**
option to record pass and failure cases individually. here, we can record only the failure cases specifically

**Describe alternatives you've considered**

[2020-06-30 05:54] DannyDainton commented on #242
Hey @vhrsh

Would the `showOnlyFails` flag work for you or are you after something different?

[2020-06-30 07:17] vhrsh commented on #242
Hey @DannyDainton
i presume the showOnlyFails will not show any pass results. This would be detrimental as we may not know the total size of the run right?

Example:
Suite: 10000 test cases
Passed: 9995 tests
Failed: 5 Tests

Ideally, what i was exploring was
1. If Pass, only the status would be enough (no request and response body and headers captured)
2. If Fail, capture all details (request bod

[2020-06-30 07:21] DannyDainton commented on #242
That flag will still run all the requests in your collection but only display the information for the requests that failed during the run.

The requests that passed wouldn't be shown. It's worth trying it out to see if that suits your need.

[2020-06-30 14:05] svarshney2311 opened #243 "Getting error while executing Newman command line"
I amgetting error when I am executing Newman command. Could anyone please provide the solution for this. Here is my Newman command.

newman run Digital_API.postman_collection.json -r htmlextra --reporter-htmlextra-title "Digital API Automation report" -d TestData_SIT.json

Here is a error:

<--- Last few GCs --->

[28152:000002D62F1A7200] 4378103 ms: Mark-sweep 2036.9 (2055.4) -> 2032.8 (2055.1) M

[2020-06-30 14:18] DannyDainton commented on #243
Hey @svarshney2311

Are you seeing the same thing without using the htmlextra reporter? If you remove the `-r htmlextra --reporter-htmlextra-title "Digital API Automation report"` part and run it, is the same thing happening?

As an issue report, that doesn't tell me or the other places that you have posted it, any information about what you're doing.

- How big is the collection? How many request

[2020-06-30 14:33] svarshney2311 commented on #243
Sorry for the less information. here is the full information.

I have tried removing report section and I can see the execution happenning in command line.

- There are 90 requests in the collection, some of the requests is called multiple times.so total request to be executed will be around 150+(size of Json collection 450 KB)
-- each requests has TestData set up ( Size 12 KB)
-- 1 iteration is r

[2020-06-30 14:57] DannyDainton commented on #243
I'm not sure what you would like me to do about this, to be honest.

Is this _only_ throwing that error when htmlextra is used? Have you tried with any other reporter?

[2020-06-30 15:01] svarshney2311 commented on #243
Below also works fine
newman run Digital_API.postman_collection.json -r htmlextra -d TestData_SIT.json

But when I am using  --reporter-htmlextra-title "Digital API Automation report" in command line , I am getting error after long time.

[2020-06-30 15:11] DannyDainton commented on #243
Do you need the title in there?

On Tue, Jun 30, 2020 at 4:01 PM svarshney2311 <notifications@github.com>
wrote:

[2020-06-30 15:13] svarshney2311 commented on #243
Yes I want to change the tiltle tov our Project name. Is there way to change internally in any folder??

[2020-06-30 15:15] DannyDainton commented on #243
What's the version of the reporter you're using?

[2020-06-30 15:34] svarshney2311 commented on #243
newman-reporter-htmlextra@1.17.1

[2020-06-30 16:12] DannyDainton commented on #243
You could grab this template and save it locally - https://github.com/DannyDainton/newman-reporter-htmlextra/blob/master/lib/dashboard-template.hbs

You can hardcode the title you want here - https://github.com/DannyDainton/newman-reporter-htmlextra/blob/347d57a9097d04d5856a4250663f222149c837e7/lib/dashboard-template.hbs#L452

Then using the `--reporter-htmlextra-template template.hbs` flag from t

[2020-06-30 16:14] DannyDainton commented on #242
Hey @vhrsh,

Did that work for you?

[2020-06-30 16:31] DannyDainton commented on #243
The issue looks like it relates this one with Newman as per this issues:

- https://github.com/postmanlabs/newman/issues/2357
- https://github.com/postmanlabs/newman/issues/941

[2020-06-30 16:35] vhrsh commented on #242
Danny, I haven't tried it out. However, the use case would be my some technical staff who would want to check the reason for failures. the showOnlyFails would work to show only 5 failed but not the overall test runs.

To put things in perspective, i ran a test with 106 iterations with ~6500 test cases. I used the --reporter-htmlextra-skipSensitiveData. The resulting file was 23MB. In the long run

[2020-06-30 16:54] DannyDainton commented on #242
Like I mentioned - The report is deterministic based on the sized of the Collection and the number of iterations. If it's a large collection with lots of tests, the report will be large.

Come's back to who is reading the report, who is interested in flicking through 106 iterations and ~6500 test cases on a semi-static HTML report. In that occasion, you just need the highlights. Maybe the choice o

[2020-06-30 17:02] vhrsh commented on #242
Done. Thanks for indulging. :)

[2020-06-30 17:04] #242 closed

[2020-06-30 17:16] svarshney2311 commented on #243
Thank you. It worked Perfectly for me the way I wanted. I will explore  more on Report section. Do you have any refrence for this?

Thanks you!

[2020-06-30 17:19] DannyDainton commented on #243
Glad it worked for you. 🏆

Not sure what you mean by this? 😄

I'm going to close this out but feel free to reply in the thread 😄

[2020-06-30 17:19] #243 closed

[2020-07-03 22:00] svarshney2311 opened #244 "while executing Newman as Library, getting error"
Hi,

I am trying to execute below Node library, but getting error.

const newman = require('newman')

Below is my app.js:

newman.run({
collection: './Digital_API.postman_collection.json',
IterationData : '/TestData_SIT.json',
IterationCount : 1,
d: '/TestData_SIT.json',
reporters: 'htmlextra',
reporter: {
htmlextra: {
template: '/Report.hbs',
export:'Desktop/SmokeReport.html'

}
}
})

Getting bel

[2020-07-03 22:13] svarshney2311 opened #245 "[Question] pm.expect is not validating all the assertions."
Hi,

I have below Tests in my scripts. There are 4 validation in my Tests.
My requirement is, I wanted to test all 4 validation before sending any result. example if paymentMethod_Type fails: I still want to test paymentMethod_Last4digits  and send the results for all 4.

Currently, if any of the validation is failing , it is stopped there and sending report, its not testing any further validation

[2020-07-03 22:27] DannyDainton commented on #245
I'm not sure what you want me to do about this.

All the assertions are in one test, if one fails, the test fails. It sounds like it's doing what it's supposed to do. Or am I missing something?

You would see the same using the CLI reporter or any other reporter, this isn't specific to htmlextra.

Why is the test failing? Have you looked into that?

You could wrap tests in `try/catch` block I gues

[2020-07-03 22:33] svarshney2311 commented on #245
I have purposefully failed one assertion .

so here what I am looking is if say 2nd assertion is failing , its not looking for 3 rd assertion and throwing error.

I want to test all the assertion before its failed. Hope you understood what I am looking.

trying again, if some reason 2 nd 3rd failed, I should get details for both the assertion but I am getting the details only for first one.

[2020-07-03 22:35] DannyDainton commented on #244
This is not a htmlextra specific issue.

You need to install Newman as a library into that node project and have it as a dependence in a `package.json` file.

[2020-07-03 22:35] #244 closed

[2020-07-03 22:37] DannyDainton commented on #245
This is not a specific htmlextra issue it's a test design problem that you would encounter in the Postman app.

Closing this as it's not something that I can change in the reporter to make work for you.

[2020-07-03 22:37] #245 closed

[2020-07-03 22:38] svarshney2311 commented on #244
Could you please elabroarte how to do this

[2020-07-03 22:48] DannyDainton commented on #244
I've done that for you already:

https://github.com/DannyDainton/newman-reporter-htmlextra/issues/238#issuecomment-649700690

These are not reporter specific issues, please only create issues that are directly related to a problem that you're having with the reporter.

There are a number of resources available to teach you about basic JavaScript and how to create node projects.

[2020-07-04 00:39] svarshney2311 opened #246 "Failed Request count is always zero - even if an Request had assertion errors"
When assertions within an Request fail, I expect the Request fail count to increase. Instead, it remains at 0.
This way, I cannot count successful Requests, only "run" Requests.

![image](https://user-images.githubusercontent.com/66395814/86502074-3c5c7a80-bd6d-11ea-95d5-4a3822af131c.png)

![image](https://user-images.githubusercontent.com/66395814/86502083-4bdbc380-bd6d-11ea-9399-d2a23a556dea.png

[2020-07-04 05:50] DannyDainton commented on #246
That number relates to the number of assertions that have failed - As you can see from your image, the number on the failed assertions, matches the total in the tab.

[2020-07-04 05:50] #246 closed

[2020-07-04 19:27] svarshney2311 commented on #246
But the requirement is If any assertion fails, Test Requests should be failed as assertion link to the Test Request.
Here in the example, even the assertion is failed but still Test Requests showing as passed,that looks something odd and this issue had raised by Client also.

[2020-07-04 19:49] DannyDainton commented on #246
Who's requirement? 🤔

I'm telling you, from the person who created the reporter and the logic behind why things show up in different parts of the app - Also from someone who knows a few things about the way Postman works...it's doing what I expect it too 😁

How many assertions failed? It looks like 1 and 1 was placed in the label at the top.

A test failing doesn't equal a request failing, a reque

[2020-07-07 03:53] EshtechZ opened #247 "Test Name & Assertion error is not showing in Total Requests tab, Test information section as it is showing same as in Failed Tests tab."
**Describe The Problem**
After running the collection through the command line and get generate the HTML extra report,
![Newman_ReportExtra_Bug](https://user-images.githubusercontent.com/51908542/86705011-0cde9400-c033-11ea-8541-afacfe335851.PNG)
 in that case, the Test name and assertion error is not showing in the Total Requests tab as it is showing the same as in the Failed Tests tab.

**Steps

[2020-07-07 05:42] DannyDainton commented on #247
Thanks for reporting this @EshtechZ,

It's not something that happen all the time as more and more people would have reported it so far.

I think it's to do with either having a test, in the request, with the same name twice or having a test with the same name at 2 different levels.

Could you check to see where those tests in the collection live? Request, Folder or Collection level?

Are there 2

[2020-07-10 18:09] DannyDainton commented on #247
@EshtechZ Are you able to provide answers to the 2 questions above please?

[2020-07-12 12:01] DannyDainton commented on #247
I can confirm that it's what I think it is:

[code]

Having 2 tests with the same name would show the issue - Until I fix the problem you would need to ensure that each Test has a unique name, that way it would show the failed message in this view. The `Failed Test` tab would show the correct message as the data is coming from a different place, that was tricky to use on the individual request lev

[2020-07-12 12:05] EshtechZ commented on #247
Hi Danny,

Thanks for the quick action.
I will check it again and get back to you.

Thanks,
EshtechZ

On Sun, Jul 12, 2020, 5:31 PM Danny Dainton <notifications@github.com>
wrote:

[2020-07-15 04:28] yuyong1992 opened #249 "Can not switch from Summary tab to other tabs"
**Describe The Problem**
Open the html file in the browser;
Click the Total Requests tab, but it still at the Summary tab.

**Version and Platform Information:**
 - `newman` Version  4.5.5
 - `newman-reporter-htmlextra` Package Version 1.17.3
 - OS  CentOS 7.5

[2020-07-15 04:37] yuyong1992 commented on #249
Sorry for this issue. When I updated the version of newman to 4.6.1, and generate the html report again, it works! So, I closed the issue myself.

[2020-07-15 04:37] #249 closed

[2020-07-17 04:08] EshtechZ commented on #247
Hi Danny,

I checked the above scenario and i don't have any duplicate test data or script. Each request has only 1 test script which is fine.

[2020-07-17 08:55] DannyDainton commented on #247
I was able to reproduce this with the tests with the same name, didn't really matter if these were in the same script or at different levels.

There's an issue in Newman with the `sendRequest()` function used in the app, this would create the same test against that request - Do you have anything like that in the request?

[2020-07-20 04:48] kajol1701 commented on #12
Hi @DannyDainton
I used the code you provided above. And sent the report as an attachment. The mail is triggered and the user gets it too. But when I open it from the mail itself without downloading it, it appears in a non-formatted way. But when I download it and open the file it opens up properly. Just wanted to know why is this happening. Because of some Gmail default settings like the Jenkins

[2020-07-20 06:02] DannyDainton commented on #12
Hey @kajol1701

Thanks for posting your question here, it's easier to manage than via email 😁

So the report templete's styling is coming from CDNs to specific resources rather than the code being embedded in the template itself. The report is already huge under certain circumstances (very large collections and multiple x1000 iterations) and adding that in they would increase the final report size

[2020-07-20 06:08] kajol1701 commented on #12
Thanks for replying:smile: I get it now.

[2020-07-20 06:11] DannyDainton commented on #12
No worries, it's a shame that it doesn't work in the way that you hoped but that seems to be on the email client rather than the reporter. 😔

Sounds like sending as an attachment seems to work, after downloading it, so at least there's a workaround 😁

[2020-07-20 06:19] kajol1701 commented on #12
Yep, sending as an attachment did work and after downloading the file opened perfectly. And please don't say that. Newman is overall the best thing I came across, has helped me and my organization int the best manner to get to know the API issues with proper mentioning of everything in the report.
Again, Thanks a lot! You are too kind to help me out. Also, will be worrying you again as using Newma

[2020-07-21 03:53] srinivasskc opened #250 "[Bug] The theme toggle does not display the report in Dark mode on IE Edge"
**Describe The Problem**
When i open the report on IE Edge and Click on Dark Mode toggle, It does display the report in dark mode.

**Steps To Reproduce**
1. Run the collection 'newman run APITesting.postman_collection.json -r htmlextra'
2. Open the report 'file:///C:/development/postman-api-testing-collection-1/newman/API%20Testing-2020-07-21-03-38-36-833-0.html'
3. Select the `Request` view 'Dar

[2020-07-21 05:50] DannyDainton commented on #250
Thanks for writing in! 🏆

Could you confirm the Newman version please @srinivasskc, that doesn't look quite right.

If you could share the node version too that would be great.

[2020-07-21 06:11] srinivasskc commented on #250
Below are details @DannyDainton .

Node Version: 12.18.2
![image](https://user-images.githubusercontent.com/26836928/88019109-a5523980-cb46-11ea-84f5-cd4079cc88d2.png)

NPM Version: 6.14.6
![image](https://user-images.githubusercontent.com/26836928/88019134-b69b4600-cb46-11ea-94f2-6002e5efefed.png)

Newman Version: 5.1.0
![image](https://user-images.githubusercontent.com/26836928/88019211-e9ddd500

[2020-07-21 06:23] DannyDainton commented on #250
There seems to be a lot of issues over the years with local storage and Edge. Even the latest update here was from last month :/

https://stackoverflow.com/questions/34798285/how-can-i-open-a-local-html-file-in-microsoft-edge-browser

[2020-07-21 11:50] DannyDainton commented on #250
Just to confirm @srinivasskc - Apart from the report not flipping over to the Dark theme, is the rest of it functional?

Just want to ensure there isn't any other quirks of Edge that I haven't accounted for/seen yet. :(

[2020-07-22 01:52] srinivasskc commented on #250
Thanks for asking.
I found a functionality issue.

Response Information is not displaying on IE Edge, whereas it displays information on Chrome.
![image](https://user-images.githubusercontent.com/26836928/88124642-3a0e7300-cbeb-11ea-84eb-3bdcfbbb55f0.png)

[2020-07-22 04:49] DannyDainton commented on #250
Interesting 🤔

Might need a little bit more info that a static image of something that you can see on your machine though 😁

Any errors? Could you check the elements in the dev tools to see if it's just a CCS thing?

Could you share the collection files with me please?

[2020-07-22 05:04] srinivasskc commented on #250
I have checked further, its more of CSS.

![image](https://user-images.githubusercontent.com/26836928/88135971-e6f5e980-cc05-11ea-8b24-2e1551bdf641.png)

class .badge-success
{ color: #fff } which is strike off.

When i unchecked the property, Now values are displaying.

![image](https://user-images.githubusercontent.com/26836928/88136066-20c6f000-cc06-11ea-9e5c-cbdf52e4bc69.png)

The same css pro

[2020-07-22 05:10] DannyDainton commented on #250
Yeah I thought it all might be wrapped up with the CSS issues from the toggle changes.

I'm sure there will be more on Edge and to save you posting each one I would recommend not using that browser with the reporter. 😢

[2020-07-22 05:23] srinivasskc commented on #250
You can close this ticket :) And also it would be good to see if you can add "Browser Compatability" in Readme file.

[2020-07-22 05:25] DannyDainton commented on #250
Sounds like a great way to contribute to the project and get your name on it too.

If you makes the changes to the readme and send me a PR I will get it merged 😁

[2020-07-22 10:21] DannyDainton commented on #250
@srinivasskc I'm going to close this for now but please do raise a PR for changes to the README, I would appreciate your contributions.

[2020-07-22 10:21] #250 closed

[2020-07-22 10:35] BubuFS opened #251 "[Feature Request] Extra info when calling one or more folders, instead of a whole collection?"
In "FILE INFORMATION" box, perhaps we can add "Folders: f1, f2" under Collection, when one or more test-run folders are specified. Should be easy!

Likewise, in such cases, "COLLECTION DESCRIPTION" section could be replaced or supplemented with the relevant text from the Folders descriptions, as in general, the collection description text is redundant when folders are used.

[2020-07-22 10:39] BubuFS opened #252 "Headers - show/hide button (collapsed by default)"
I'm aware there is an option to omit headers from reports, but it would be more convenient if they are included but simply collapsed by default, as they can get distracting most of the time.

[2020-07-22 10:42] DannyDainton commented on #251
PRs are always welcome - should be easy :D

Even if you're running a single/multiple folders, you're still running those from a Collection so it seems quite relevant :D

[2020-07-22 11:31] BubuFS commented on #251
Hi Danny. Yes, redundant is relative, depends on what is in one's descriptions; what I meant was, for our use-case, the collection-level description is not as relevant as the folder-level description. You might need to use some judgement for that last part...

[2020-07-22 13:15] DannyDainton commented on #251
The key part to that is _for our use-case_ - It's a generic report and it's also a template which can be modified and used in any way you like, for specific use cases.

If you don't want something to be there, remove it, create a new template and use that with `--reporter-htmlextra-template <path to template>`- simple :D

[2020-07-22 13:22] DannyDainton commented on #252
This seems very specific to the way that you, in your own context want the report.

My suggestion would be to create a template and make the changes that you require.

The default template is here:

https://github.com/DannyDainton/newman-reporter-htmlextra/blob/master/lib/dashboard-template.hbs

This isn't something that I'm going to be doing in the reporter so closing this issue.

[2020-07-22 13:22] #252 closed

[2020-07-22 15:26] DannyDainton commented on #252
@BubuFS

There you go - https://gist.github.com/DannyDainton/42e9124fcfc89bc2cbae772dc8668810

[2020-07-22 17:54] DannyDainton commented on #251
I'm thinking of adding this so it shows the folder descriptions if the folder has any:

<img width="1088" alt="Screenshot 2020-07-22 at 18 52 41" src="https://user-images.githubusercontent.com/17089546/88210767-9786dc00-cc4c-11ea-873a-d7079ba2090f.png">

[2020-07-22 19:13] DannyDainton commented on #251
Potentially something like this for when the `folder` option is used:

<img width="1203" alt="Screenshot 2020-07-22 at 20 12 02" src="https://user-images.githubusercontent.com/17089546/88218222-a6bf5700-cc57-11ea-8251-f336868618c1.png">

[2020-07-22 21:43] DannyDainton commented on #251
Added to the 1.17.4 version

[2020-07-22 21:43] #251 closed

[2020-07-23 07:52] BubuFS commented on #252
Hi Danny, I had completely overlooked the template feature and its obvious potential. Also, thanks a lot for putting together an example just for me ;-)

[2020-07-23 07:56] DannyDainton commented on #252
That example doesn't have the additional changes like, folder description and folders run, like in the latest vertion but I'll add that in later.

The reporter template has been made to be generic so it caters for the masses rather than individual needs/preferences - it would be an absolute mess if that was the case 😁

That's where templates come in and I've seen people use all sorts of templates

[2020-08-11 12:11] BubuFS commented on #252
Hi Danny, I have a technical question. In the template https://gist.github.com/DannyDainton/42e9124fcfc89bc2cbae772dc8668810#file-collapsedheaders-hbs-L905 I am trying to add {{cursor.ref}} in the "Request Headers" section, to make #id's unique, but it is not resolving, because of the {{#with request}}. How to I access the correct scope?  Works fine in "Response headers".

[2020-08-11 12:17] BubuFS commented on #252
Replying to myself... used {{../cursor.ref}} to get parent context

[2020-08-11 13:05] DannyDainton commented on #252
Glad I could help.... 😜

[2020-08-13 22:34] svarshney2311 opened #254 "Very slow to navigate from one request to another on large reports"
I have more than 1500 request. When I opened HTMLEXTRA report, it is very slow to navigate from one request to another.
Is there any way , we can work on the performance of report if has large number of test rquests.

Its really frustrating to me when I investigate any issue in the report because of slowness.

![image](https://user-images.githubusercontent.com/66395814/90193679-702ab700-dd93-11ea-

[2020-08-14 05:32] DannyDainton commented on #254
The output report is a dynamically created static file, the more data your using, the bigger the report will be.

Thousands of iterations, requests, tests etc will cause the report to be huge - that's not going to change.

I get this a lot and I ask who the report is for and does is that person interested in looking through a detailed report, containing 1600+ requests. Do they need that level of d

[2020-08-14 18:12] AmandaGBolton opened #255 "Having a Color Blindness color scheme"
**The default red/green color scheme is potentially challenging for people with the most common forms of color blindness.** Although all text would be readable, it would be difficult to quickly identify passing vs. failing tests.

**A third mode (vs. dark/light) that changes colors to ones that are more easily distinguished from each other could be helpful for these individuals (e.g., blue vs. red

[2020-08-14 19:00] DannyDainton commented on #255
Hey @AmandaGBolton

100% this!!

That's a great suggestion and I'd love to work with you on this!!

I can totally handle the implementation side of things but I'm honest going to struggle with getting the right things on the report.

Are you up for jumping on a call at some point and brainstorm some ideas?

[2020-08-14 19:04] DannyDainton commented on #255
If you connect with me on LinkedIn / Twitter etc. we can have a chat about how to tackle this enhancement 🏆

[2020-08-14 19:06] DannyDainton commented on #254
This isn't something that I'm going to be actively working on right now, all PRs are very welcome though, if you have an idea about how to deal with this.

I'm going to close this on out now and add a ticket in my backlog.

[2020-08-14 19:06] #254 closed

[2020-08-14 21:50] DannyDainton commented on #255
I was just checking out this site and there's a lot of much needed work to be done here.

https://www.toptal.com/designers/colorfilter/

Protanopia:

![Screenshot_20200814_224749.jpg](https://user-images.githubusercontent.com/17089546/90295229-4a2f1080-de80-11ea-94ba-3cd78323e6ec.jpg)

[2020-08-14 22:33] apsys opened #256 "[Feature Request] Need to show request and response for failed scripts"
**Is your feature request related to a problem? Please describe.**
Newman Run Dashboard doesn't show Request and Response for failed test scripts.

**Describe the solution you'd like**
Similar to Total Request that shows complete request and response it should also show for failed tests. It's easy to create a bug or report to stakeholders.

**Describe alternatives you've considered**
![Newman Summ